<main id="main" role="main">
  <div class="main-content signup-main">
    <div class="container">
      <h3 class="text-center">
        <strong>Forgot Password-</strong>
      </h3>
      <hr>
      <div class="alert alert-rose alert-wit'h-icon vander-signup-heading" data-notify="container">
        <i class="fa fa-bell"></i>
        <span data-notify="message">We will require verified e-mail address since we deliver digital products via email.
        </span>
      </div>
        <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <form [formGroup]="signupForm" *ngIf="signupForm" >
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">mail_outline</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Change Password</h4>
              <div class="form-group label-floating">
                <mat-form-field>
                  <input matInput type="password" id="password" placeholder="Password" formControlName="pass1"[(ngModel)]=pass1>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="signupForm.controls.pass1.value == ''"><strong>Cannot be empty</strong></mat-error>
                   
                </mat-form-field>
              </div>

              <div class="form-group label-floating">
                <mat-form-field>
                  <input matInput type="password" id="confirmPassword" placeholder="Confirm Password"formControlName="pass2"[(ngModel)]=pass2>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="signupForm.controls.pass2.value == ''"><strong>Cannot be empty</strong></mat-error>
          <mat-error *ngIf="(signupForm.controls.pass2.value != signupForm.controls.pass1.value) || signupForm.controls.pass2.value == ''"><strong>Password must match
          </strong></mat-error> 
                </mat-form-field>
              </div>
              <div class="category form-category">
                <span class="star">*</span> Required fields</div>
              <div class="form-footer text-right">

                <div class="form-group">
                  <button type="submit" class="btn btn-rose btn-fill btn-wd" (click)=" forgetpass(qurey)">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</main>