<div class="change-pass">
  <div class="card">
    <form [formGroup]="signupForm" *ngIf="signupForm">
      <!--<div class="card-header card-header-icon" data-background-color="rose">-->
        <!--<i class="material-icons">mail_outline</i>-->
      <!--</div>-->
      <div class="card-content">
        <h4 class="title-05" style="margin-bottom: 20px !important;">Change Password</h4>
        <mat-form-field>
          <input class="border-bottom-no" matInput type="password" id="password" [type]="hide ? 'password' : 'text'" placeholder="Old Password" formControlName="oldpass"[(ngModel)]="oldpass">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
             <mat-error *ngIf="signupForm.controls.oldpass.value == ''"><strong>Cannot be empty</strong></mat-error>
        </mat-form-field>
        <mat-form-field>
          <input class="border-bottom-no" matInput type="password" [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="pass1"[(ngModel)]=pass1>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="signupForm.controls.pass1.value == ''"><strong>Cannot be empty</strong></mat-error>
          <mat-error *ngIf="(signupForm.controls.pass1.value == signupForm.controls.oldpass.value)"><strong>Password must not match
          </strong></mat-error>
        </mat-form-field>
        <mat-form-field>
          <input class="border-bottom-no" matInput type="password" [type]="hide ? 'password' : 'text'" placeholder="Confirm Password" formControlName="pass2"[(ngModel)]=pass2>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="signupForm.controls.pass2.value == ''"><strong>Cannot be empty</strong></mat-error>
          <mat-error *ngIf="(signupForm.controls.pass2.value != signupForm.controls.pass1.value) || signupForm.controls.pass2.value == ''"><strong>Password must match
          </strong></mat-error>
        </mat-form-field>
        <div class="category form-category" style="margin-top: -30px;">
          <span class="star">*</span> Required fields</div>
        <div class="form-footer text-right">
          <div class="text-center">
            <button type="submit" class="btn btn-fill btn-wd"(click)="editClick(oldpass,pass1,pass2)" style="width: 100%">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
