<div class="main-content">
    <div class="container-fluid container">
      <section class="commercial-main">
        <!-- <h3 class="text-center"><strong>BEST COMMERCIAL ELECTRICITY PLANS</strong> FOR YOUR BUSINESS</h3>
        <hr /> -->
        <!--Plans will show here...-->
        <div class="bg-white residential-main">
          <h2 class="text-center">Why Choose<strong style="color: #c00"> ChoiceGenie</strong> </h2>
          <hr />
          <div class="cm-detail">
            <p class="align-txt">
              <strong>Reduce your costs and boost your bottom line!</strong>
              Everyone could use a reduction in their commercial electricity rates and overall electricity bill. The reality is that very few businesses have the time, knowledge or resources to obtain the best energy savings that are so badly needed.  This is where OUR Energy commercial electricity services really make a difference!
            </p>
            <p class="align-txt">
              <strong>Hire us and we’ll help you save money.</strong>
              ChoiceGenie specializes on helping Texas businesses reduce their energy rates over the long term. Tired of looking for TX energy services in all of the wrong places?  Frustrated by the one size fits all mentality of most electric companies in Texas?  Stop wasting money on fly by night electric providers. Get a proven commercial electricity solution for a change!  Choose Our Energy, the best Texas Electric Company to help your business prosper and grow!
            </p>
          </div>
        </div>
        <h2 class="text-center font-style">LOOKING FOR A CUSTOM TAILORED PLAN
          FOR <strong>YOUR BUSINESS?</strong></h2>
        <h3 class="text-center custom-font">REQUEST YOUR <strong>FREE QUOTE</strong> TODAY!</h3>
        <hr />
        <div class="cm-detail">
          <p class="align-txt">Looking for a new quality <b>Texas energy service provider</b> or just <b>curious to what else is out there?</b> Please fill in all of the details with valid information to get your <b>FREE,</b> no obligation quote.</p>
        </div>
        <form class="form-quote" action="#" method="">
            <div class="card">
              <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">mail_outline</i>
              </div>
              <div class="card-content">
                <h4 class="card-title">Get Your Quote</h4>
                <form action="#" method="#" novalidate="" class="ng-untouched ng-pristine ng-valid">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group label-floating is-empty">
                        <label class="control-label">Your Name 
                          <!-- <span class="required">(required)</span> -->
                        </label>
                        <input class="form-control" type="text">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group label-floating is-empty">
                        <label class="control-label">Business Name
                           <!-- <span class="required">(required)</span> -->
                          </label>
                        <input class="form-control" type="text">
                      </div>
                    </div>
                    <br class="clearfix" />
                    <div class="col-sm-6">
                      <mat-form-field>
                        <mat-select class="business-input" placeholder="Select Business Type">
                          <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{ food.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group label-floating is-empty">
                        <label class="control-label">Email 
                          <!-- <span class="required">(required)</span> -->
                        </label>
                        <input class="form-control" type="email">
                      </div>
                    </div>
                    <br class="clearfix" />
                    <div class="col-sm-6">
                      <div class="form-group label-floating is-empty">
                        <label class="control-label">Telephone</label>
                        <input class="form-control" type="text">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group label-floating is-empty">
                        <label class="control-label">Mobile</label>
                        <input class="form-control" type="text">
                      </div>
                    </div>
                    <br class="clearfix" />
                    <div class="col-sm-6">
                      <div class="form-group label-floating is-empty">
                        <label class="control-label">Electricity Usage (kWh)</label>
                        <input class="form-control" type="text">
                      </div>
                    </div>
                    <br class="clearfix" />
                    <div class="col-sm-6">
                      <div class="form-group label-floating is-empty">
                        <label class="control-label">Notes or Additional Information</label>
                        <textarea rows="5" class="form-control"></textarea>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-fill" type="submit">Submit</button>
                </form>
              </div>
            </div>
        </form>
        <div class="cm-detail">
          <h3><b>ENJOY BUSINESS ELECTRICITY</b> DONE THE RIGHT WAY!</h3>
          <p class="align-txt"><b>We dare you to compare electricity rates.</b> You have nothing to lose!  If you need more space to add in zip codes, questions, comments or details please feel free to indicate that in the space “Notes or Additional Info”. A friendly Customer Care Specialist will contact you in a timely manner.</p>
        </div>
      </section>
    </div>
  </div>

  <!-- <div class="member-special">
    <div class="container">
      <h3 class="title">Looking For an Excellent Residential Plan?</h3>
      <p>Find one that's right for you!</p>
      <button class="btn btn-rose btn-lg" routerLink="/residential">READ MORE <i class="material-icons">open_in_new</i></button>
    </div>
  </div> -->
