.recapcha-input {
    width: 100%;
    margin: 8px 0 0;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 20px;
    border: 2px inset;
    font-weight: 600;
    color: #000
}

.recapcha-input::placeholder {
    color: #5d5d5d
}

.card {
    width: 188px;
    float: right;
    padding: 8px;
    background: #f2f2f2;
  margin: 0 0 10px;
}

.refrash-button {
    background: #000;
    border: none;
    color: #fff;
    border-radius: 50px;
    width: 33px;
    float: right;
    margin-top: 10px;
    height: 33px;
}
.refrash-button:hover{
    background: #c00;
}

.refrash-button .mat-icon {
    line-height: inherit;
    font-size: 22px!important;
    width: auto;
    height: auto
}

.main img {
    width: 80%;
    float: left;
    border-radius: 5px
}
