.recapcha-input {
    width: 100%;
    margin: 8px 0 0;
    background: #fff;
    padding: 4px;
    // border-radius: 5px;
    font-size: 20px!important;
    // border: 2px inset;
    font-weight: 600;
    color: #000;
    border-bottom: 1px solid!important;
    text-align: center !important;
}

input::placeholder {
    color: #5d5d5d !important;
    font-weight: 300;
}
.sh-signup-form-fix .mat-input-element:focus{
    border-bottom: 1px solid !important;
}
.card {
    width: 181px;
    float: right;
    padding: 8px;
    background: #fff;
  margin: 0 0 10px;
  box-shadow: 0 3px 10px #ccc!important
}
.card-signup{
    margin: -10px 0 0px;
}
.refrash-button {
    background: #000;
    border: none;
    color: #fff;
    border-radius: 50px;
    width: 33px;
    float: right;
    margin-top: 10px;
    height: 33px;
}
// .refrash-button:hover{
//     background: #c00;
// }

.refrash-button .mat-icon {
    line-height: inherit;
    font-size: 22px!important;
    width: auto;
    height: auto
}

.main img {
    width: 80%;
    float: left;
    border-radius: 5px
}
