<div id="wrapper">
  <section class="section bgw">
    <div class="container">

      <div class="section-title-2 text-center faqs">
        <h1>Frequently Asked Questions about Choice Genie</h1>
        <h3>We'll try our best to answer your queries as soon as possible.</h3>
        <hr class="hr-tag">
      </div>


      <!---->

      <div class="fancy-collapse-panel ng-star-inserted">
        <br>
        <!---->
        <div class="ng-star-inserted">

          <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="tab-heading" role="tab" id="heading4">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapse4" aria-expanded="false">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">1: What if I regularly monitor the electricity usage?<i class="fa fa-plus float-l"></i></div>
                    </div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse4" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">

                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">It is unlikely that by manually monitoring you would be able to get the same results as our machine
                    learning algorithm. ChoiceGenie regularly monitors usage, constantly runs it against market’s availability
                    rates, and makes the changes with 100% accuracy.</div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ng-star-inserted">

          <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="tab-heading" role="tab" id="heading3">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapse3">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">2: Can I go for a commercial account?<i class="fa fa-plus float-l"></i></div>
                    </div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse3">
                <div class="panel-body">

                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">You can sign up for commercial services on our website. We will reach out to you and take the process from
                    there. </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ng-star-inserted">

          <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="tab-heading" role="tab" id="heading6">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapse6">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">3: Whom do I contact if there is a power outage?<i class="fa fa-plus float-l"></i></div>
                    </div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse6">
                <div class="panel-body">

                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">If there is a power outage you should immediately call your utility – they are in charge of the
                    delivery of electricity to your home. </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ng-star-inserted">

          <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="tab-heading" role="tab" id="heading7">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapse7">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">4: Who will answer all the billing questions?<i class="fa fa-plus float-l"></i></div>
                    </div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse7">
                <div class="panel-body">

                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">Your electric company is the best option for bill related queries.</div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ng-star-inserted">

          <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="tab-heading" role="tab" id="heading8">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapse8">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12"> 5: What will happen if my retail electric provider goes out of business?<i class="fa fa-plus float-l"></i></div>
                    </div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse8">
                <div class="panel-body">

                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">When a provider goes out of business suddenly without notice, you are automatically switched
                    to the Provider of Last Resort (POLR). </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ng-star-inserted">

          <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="tab-heading" role="tab" id="heading9">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapse9">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12"> 6: In the case of nonpayment, will I be notified prior to termination?<i class="fa fa-plus float-l"></i></div>
                    </div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse9">
                <div class="panel-body">

                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">Yes, you will receive a 10 days notice to pay your bill.</div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ng-star-inserted">

          <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="tab-heading" role="tab" id="heading10">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapse10">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12"> 7: What is your charge rate?<i class="fa fa-plus float-l"></i></div>
                    </div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse10">
                <div class="panel-body">

                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">Charge rate depends on your location. Enter your ZIP code and select a electricity rate for your
                    home from the number of electricity providers.</div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ng-star-inserted">

          <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="tab-heading" role="tab" id="heading11">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapse11">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12"> 8: How do I know who has the cheapest electricity?<i class="fa fa-plus float-l"></i></div>
                    </div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse11">
                <div class="panel-body">

                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">Enter you ZIP code and find out who provides the cheapest electricity rates in your area.</div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ng-star-inserted">

          <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="tab-heading" role="tab" id="heading12">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapse12">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12"> 9: How do I choose an electric company?<i class="fa fa-plus float-l"></i></div>
                    </div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse12">
                <div class="panel-body">

                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">Choose your electric company based on: term length, plan type, price factors. You also have an
                    option of choosing between green energy plan and add-on.</div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ng-star-inserted">

          <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="tab-heading" role="tab" id="heading13">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapse13">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12"> 10: How do I purchase a renewable energy plan?<i class="fa fa-plus float-l"></i></div>
                    </div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse13">
                <div class="panel-body">

                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">Enter your ZIP code and use the advanced search filter mechanism for green energy plans.</div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ng-star-inserted">

          <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="tab-heading" role="tab" id="heading14">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapse14">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12"> 11: Do we have a contract?<i class="fa fa-plus float-l"></i></div>
                    </div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse14">
                <div class="panel-body">

                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">No, you are not bound by a contract. You may cancel your service with us at any time.</div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ng-star-inserted">

          <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="tab-heading" role="tab" id="heading15">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapse15">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12"> 12: Will I have a contract with the electricity provider?<i class="fa fa-plus float-l"></i></div>
                    </div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse15">
                <div class="panel-body">

                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">We enroll you in electricity plans for as minimum a contract as 6-months. There may be factors
                    involved making the contracts shorter or longer, but often times more than 12-months at a time.</div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ng-star-inserted">

          <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="tab-heading" role="tab" id="heading16">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapse16">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12"> 13: How often do you switch?<i class="fa fa-plus float-l"></i></div>
                    </div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse16">
                <div class="panel-body">

                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">We typically switch our members every 6 months. Depending on the factors involved we may rarely
                    enroll you in a shorter term plan on the lowest offer for the longest possible term.</div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ng-star-inserted">

          <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="tab-heading" role="tab" id="heading17">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapse17">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12"> 14: Will there be any interruption when switching process occurs?<i class="fa fa-plus float-l"></i></div>
                    </div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse17">
                <div class="panel-body">

                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">No, there will be no interruption in the flow of power. The switch is entirely a financial process.</div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ng-star-inserted">

          <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="tab-heading" role="tab" id="heading18">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapse18">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12"> 15: Will I still get an electric bill?<i class="fa fa-plus float-l"></i></div>
                    </div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse18">
                <div class="panel-body">

                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">Yes, you will continue to receive statements from the electricity providers we enroll you with.
                    We opt you in for automatic payment and set up your account to match your preference.</div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ng-star-inserted">

          <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="tab-heading" role="tab" id="heading19">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapse19">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12"> 16: Will you help me in the process of purchasing electricity rates for my business?<i class="fa fa-plus float-l"></i></div>
                    </div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse19">
                <div class="panel-body">

                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">Yes! One of our expert agents will take you through the process of getting a competitive rate
                    for your business. Contact us at contact@choicegenie.com</div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ng-star-inserted">

          <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="tab-heading" role="tab" id="heading20">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapse20">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12"> 17: What is electric deregulation?<i class="fa fa-plus float-l"></i></div>
                    </div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse20">
                <div class="panel-body">

                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">Deregulation separates the electric supply from electric delivery. Retail electric providers
                    will provide electric supply.</div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ng-star-inserted">

          <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="tab-heading" role="tab" id="heading21">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapse21">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12"> 18: Will I have to pay for the switch to Texas electricity providers?<i class="fa fa-plus float-l"></i></div>
                    </div>
                  </a>
                </h4>
              </div>
              <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse21">
                <div class="panel-body">

                  <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">No, if you currently have the power turned on in your name and you select a standard switch.
                    You will have to pay an early termination charge if you switch providers more than 14 days prior to contract
                    expiration.</div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ng-star-inserted">

          <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="tab-heading" role="tab" id="heading22">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#collapse22">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12"> 19: When will my new service start after my switch to Texas electricity providers?<i class="fa fa-plus float-l"></i></div>
                      </div>
                  </a>
                </h4>
                </div>
                <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse22">
                  <div class="panel-body">

                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">Typically switch occurs within one to two weeks. A priority move-in switch may result in additional
                      TDSP charges on your first bill.</div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ng-star-inserted">

            <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
              <div class="panel panel-default">
                <div class="tab-heading" role="tab" id="heading23">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" href="#collapse23">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12"> 20: Do I need to notify my current Texas electricity provider if I choose to switch companies?<i class="fa fa-plus float-l"></i></div>
                      </div>
                    </a>
                  </h4>
                </div>
                <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse23">
                  <div class="panel-body">

                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">No, you do not need to notify your current Texas electricity. When a request for a change
                      of service has been made, we will notify your current provider.</div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ng-star-inserted">

            <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
              <div class="panel panel-default">
                <div class="tab-heading" role="tab" id="heading24">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" href="#collapse24">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12"> 21: Whom do I call if I have an outage?<i class="fa fa-plus float-l"></i></div>
                      </div>
                    </a>
                  </h4>
                </div>
                <div aria-labelledby="headingOne" class="panel-collapse collapse" role="tabpanel" id="collapse24">
                  <div class="panel-body">

                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">You should call the Transmission and Distribution Utility – or TDU for your area. Your electricity
                      bill has the toll-free number mentioned.</div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>





      </div>
  </section>
  </div>