<app-header></app-header>
<section class="banner">
  <div class="container">
  </div>
</section>
<div class="container-fluid" style="margin: 0px; padding: 0px">
  <section class="about-section row" style="margin: 0px;">
      <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
        <h2 class="about-title wow rotateInDownLeft" ><strong>What is ChoiceGenie?</strong></h2>
        <!--<p>&nbsp;</p>-->
        <p class="about-text wow lightSpeedIn " data-wow-delay="1s"><b>We, the engineers at ChoiceGenie have devised bleeding edge Machine Learning (ML) and proprietary Artificially Intelligent (AI) algorithms to bring you a next generation Artificially Intelligent Comparative Shopping Marketplace for Energy Vendors/Products = BTW, we are very proud of our work!
       </b> </p>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 wow rotateInUpRight">
        <img alt="brainplow" class="about-text"  src="../../assets/img/brainplow_who_we_Are.jpg" >
      </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow rotateInDownLeft">
        <video class="about-pagge-gif" autoplay loop width="100%" height="100%">
        <source src="../../assets/img/about.mp4" type="video/mp4" />
      </video>

    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow rotateInDownLeft" data-wow-delay="1s">
      <h2 class="about-title"><strong>What is ChoiceGenie? </strong></h2>
      <!--<p>&nbsp;</p>-->
      <p class="about-text wow fadeInRight"  data-wow-delay="1s"><b> Choice Genie is a next generation Artificially Intelligent Marketplace where consumers can search and compare Energy Products for a Super-Fast Ultra-Cool Comparative Shopping experience.
        . Energy Products/Plans can be Bid, Sold & Bought on ChoiceGenie through a Simple, Fast n’ Easy App on Web & Mobile that can save consumers Hundreds of Dollars on average per year!.ChoiceGenie assists consumers in researching and buying desired energy products/plans at the cheapest price from top and trusted Energy Providers.
        ChoiceGenie helps the consumer purchase the desired energy plan with the best reviews at the lowest price possible.
        From Price Comparison to an Energy Consumption Analysis AI to Reviews Aggregation/Crunching to Buyer/Seller/Product Matching AI & a Custom ChoiceGenie Score of every Seller and Product based on our proprietary Machine Learning Engine, ChoiceGenie will assist the consumer through a trusted, neutral, unbiased, time and money saving energy shopping experience.
      </b></p>
    </div>
  </section>
  <section style="padding-top: 0px; padding-bottom: 0px; background: url(../../assets/img/how.jpg) no-repeat; background-position: center center; background-size: cover;" class="blox   full-container  what_class w-animate  w-start_animation" >
    <div class="max-overlay"></div>
    <div class="wpb_row vc_row-fluid full-row">
      <div class="container">
        <div class="what wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                  <h3 style="text-align: center; font-size:40px !important;" class="wow rotateInDownLeft">Shop with a ROAR</h3>
                  <p style="text-align: center; color: #fff; padding-bottom: 30px; font-weight:500" class="wow rollIn">
                   Cutting to the chase, ChoiceGenie is the Comparative Energy Shopping Universe: Shop with a ROAR!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer-cmp></app-footer-cmp>
