<div class="container-fluid">
  <div class="about-section row">
    <div class="  col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="choice-saving">
        <h2 class="wow bounceInLeft">Choice and Saving</h2>
        <p >  We, the engineers at ChoiceGenie have devised bleeding edge Machine Learning (ML) and proprietary Artificially Intelligent (AI) algorithms to bring you a next generation Artificially Intelligent Comparative Shopping Marketplace for Energy Vendors/Products. </p>
        <p >Our technology is bleeding edge and was engineered with a singular goal: Save the consumer Time n’ Money! </p>
        <p >Next Generation Energy Comparative Shopping Engine – A Super Fast, Super Easy Time n’ Money Saving Experience!</p>
        <p >Hundreds of Dollars per year On-Average Savings to the Consumer:- This Genie does it ALL for you!</p>
        <p >ChoiceGenie employs Deep Learning and Artificial Intelligence to Analyze Energy Consumption, Match, Connect, Alert and Connect Buyers with Energy Providers – Our AI is called “ChoiceGenie”.</p>
      </div>
    </div>
    <div class="left-about-divs wow rotateInUpRight col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <img alt="brainplow" class="about-text"  src="../../assets/img/mission.jpg" width="100%">
    </div>
  </div>
</div>