<div id="page">



  <div id="main">
    <div class="wrapper">
      <header class="title-box">
        <h1>How to use ChoiceGenie</h1>
      </header>
      <!-- content-box -->
      <div class="content-box">
        <!-- Start ViewBag.Description for below string -->
        <div>
          <p align="justify">
            Welcome to ChoiceGenie, a next generation Artificially Intelligent Marketplace where consumers can search and compare Energy Products for a Super-Fast Ultra-Cool Comparative Shopping experience.</p>
            <p align="justify">
          To get the most meaningful results from the site, we encourage you to take the following
          steps on the path to a new plan. Past electric bills and a calculator are handy tools for
          this process as is the information found by running your computer mouse over the page's
          <img src="assets/img/userguide/icon-info.png"> icons.</p>











        </div>

        <!-- start grid here -->
        <!-- GET STARTED SECTION -->
      </div>
      <section>
        <div class="inst--lob">
          <h2 align="justify" class="top--h2">Start Your Search</h2>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-xs-3">
            <div class="dot">1</div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-9">

            <img class="img--size" src="assets/img/userguide/step1.PNG" alt="Step One - Enter Zip">
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 step-detail">
            Enter your Zip Code.

          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-xs-3">
            <div class="dot">2</div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-9">

            <img class="img--size" src="assets/img/userguide/step2.PNG" alt="Narrow Your Search">
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 step-detail">
            Clicking on NARROW YOUR SEARCH will speed up your selection
            process. (If you do, <a href="#step7">jump to STEP 7</a>). However, you may
            also click the VIEW RESULTS button on the right and take
            the following steps.




          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-xs-3">
            <div class="dot dot-after">3</div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-9">

            <img class="img--size" src="assets/img/userguide/step3.PNG" alt="Boxes on Left Side">
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 step-detail">
            Before you check your plans, first take full advantage of the filters&#13;&#10;                    on the left-hand side of the page to narrow your choices.


          </div>
        </div>
      </section>

      <!-- NARROW YOUR RESULTS SECTION -->
      <section>
        <div class="inst--lob">

          <h2 align="justify" class="inst--h2">Narrow Your Results</h2>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-xs-3">
            <div class="dot">4</div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-9">

            <img class="img--size" src="assets/img/userguide/step4.PNG" alt="Step Four - Esimate Ave Monthly Usage">
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 step-detail">
            Calculate your estimated average monthly usage using&#13;&#10;                    your electric bills. Remember that usage follows seasonal&#13;&#10;                    patterns with higher consumption in months like August and&#13;&#10;                    February.




          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-xs-3">
            <div class="dot">5</div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-9">

            <img class="img--size" src="assets/img/userguide/step5.PNG" alt="Step Five - Enter price range per kilowatt hour">
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 step-detail">
            If you care to, enter the price range per kilowatt hour (kWh) that&#13;&#10;                    you&#39;d like to pursue in your search.


          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-xs-3">
            <div class="dot">6</div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-9">

            <img class="img--size" src="assets/img/userguide/step6.PNG" alt="Step Six - Enter length of contract">
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 step-detail">
            Please enter the anticipated length of a formal agreement&#13;&#10;                    into which you&#39;d like to enter.


          </div>
        </div>
        <div class="row" id="step7">
          <div class="col-lg-2 col-md-2 col-xs-3">
            <div class="dot dot-after">7</div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-9">

            <img class="img--size" src="assets/img/userguide/step7.PNG" alt="Step Seven - Filter Out  Plans">
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 step-detail">
            Next, you may use this feature to filter out those plans that&#13;&#10;                    features minimum usage fees/credits and tiered rates.


          </div>
        </div>
      </section>

      <!-- TAILOR RESULTS BASED ON YOUR NEEDS SECTION -->
      <div class="inst--lob">

        <h2 align="justify" class="inst--h2">Tailor Results Based on Your Needs</h2>
      </div>
      <section>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-xs-3">
            <div class="dot">8</div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-9">

            <img class="img--size" src="assets/img/userguide/step8.PNG" alt="Step 8 - Select Plan Type">
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 step-detail">
            This step allows you to choose a fixed rate plan of the sort that can be helpful during times of high wholesale&#13;&#10;                    electricity prices, like the height of summer or depth of winter. (Fixed rates are for terms longer than one&#13;&#10;                    month while a variable rate&#39;s cost can vary from month to month.)



          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-xs-3">
            <div class="dot">9</div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-9">

            <img class="img--size" src="assets/img/userguide/step9.PNG" alt="Step 9 - Select to view prepaid plans">
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 step-detail">
            This filter allows you to select whether you want to view Prepaid Plans.

          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-xs-3">
            <div class="dot">10</div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-9">

            <img class="img--size" src="assets/img/userguide/step10.PNG" alt="Step 10 - Select Plans with Varied Pricing by Time">
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 step-detail">
            This filter allows you to select whether you want to view plans with pricing that varies by time or day of the week.

          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-xs-3">
            <div class="dot">11</div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-9">

            <img class="img--size" src="assets/img/userguide/step11.PNG" alt="Step 11 - Select Plans based on Customer Satisfaction">
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 step-detail">
            One of the more unique aspects of the ChoiceGenie; this feature indicates customer satisfaction, based on&#13;&#10;                     the percentage of complaints to the PUC.
            <!-- One of the more unique aspects of the Power To Choose site, this feature indicates customer satisfaction, based on&#13;&#10;                    the percentage of complaints to the PUC. -->


          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-xs-3">
            <div class="dot">12</div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-9">


            <img class="img--size" src="assets/img/userguide/step12.PNG" alt="Step 12 - Select how much of your electricity goes to
                         renewable energy sources">
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 step-detail">
            This feature allows you to designate what percentage of your electricity investment will go to renewable energy sources&#13;&#10;                    like solar or wind.


          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-xs-3">
            <div class="dot">13</div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-9">

            <img class="img--size" src="assets/img/userguide/step13.PNG" alt="Step thirteen - Choose a specific retail electric provider">
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 step-detail">
            This filter allows you to choose a specific retail electric provider.

          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-xs-3" id="shrink-star">
            <div id="star-five"><div class="star-text">Last Step!</div></div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-9">

            <img class="img--size" src="assets/img/userguide/step14.PNG" alt="Last Step">
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 step-detail">
            Once you have entered all of your criteria, be sure to click REFRESH RESULTS&#13;&#10;                    to see a selection of plans that meets your expressed preferences.


          </div>
        </div>
      </section>
      <section class="content-box">
        <div class="row bg--color" style="background: #e4e4e4">
          <div class="col-lg-2 col-md-2 col-xs-12 text-center">
            <img class="icon--size" src="assets/img/userguide/alert.png" alt="Attention!">
          </div>
          <div class="col-lg-10 col-md-10 col-xs-12 step-detail">
            Once you have completed all of these steps and found a plan that interests you,
            it is critical that you click the <span class="emphasis"> FACT SHEET </span>
            link and spend time carefully reading the document to ensure the retail
            electric provider's terms suit your desired service.





          </div>
        </div>
      </section>
    </div>
  </div>
</div>
