<div class="new-product-holder">
  <div class="page-title">

    <h3 class="text-center choiecegenie-offers wow fadeInLeft">ADD NEW PRODUCT</h3>

  </div>

  <!--<h3 class="text-center">ADD NEW PRODUCT</h3>-->
  <!--<hr />-->

  <div class="row">
    <!-- <form   *ngif="signupForm"> -->

    <form method="" action="" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
      <mat-horizontal-stepper [linear]="isLinear" style="background: none;" class="mat-tabs-bar1">
        <mat-step [stepControl]="signupForm">
          <div [formGroup]="signupForm" style="padding: 10px;">
            <ng-template matStepLabel>Utility Area</ng-template>
            <ng-template matStepLabel></ng-template>
            <div class="card" style="padding: 15px;">
              <!--<div class="card-header card-header-icon" data-background-color="rose" style="margin-top: -35px;">-->
                <!--<i class="material-icons">mail_outline</i>-->
              <!--</div>-->
              <div class="">
                <div class="row">
                    <div class="col-sm-6">

                        <div class="form-group">
                          <mat-form-field>
                            <input matInput placeholder="Zipcode" required [(ngModel)]="zipcode" formControlName="zipcode">
                            <mat-error *ngIf="signupForm.controls['zipcode'].value == '' || !signupForm.controls['zipcode'].value"><strong>This Field cannot be empty</strong></mat-error>
    
                          </mat-form-field>
                        </div>
    
    
    
                    </div>
                  <div class="col-sm-6">

                    <div class="form-group">
                      <mat-form-field>
                        <input matInput placeholder="Utility Area" required [(ngModel)]="utilityarea" formControlName="utilityarea">
                        <mat-error *ngIf="signupForm.controls['utilityarea'].value == '' || !signupForm.controls['utilityarea'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                    </div>



                     <!-- <mat-error *ngIf="firstFormGroup.controls['serviceType'].invalid"><strong>One statement must be selected</strong></mat-error> -->  
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                        <mat-form-field>
                          <input matInput placeholder="Contact Email" required [(ngModel)]="contact_email" formControlName="contact_email">
                          <mat-error *ngIf="signupForm.controls['contact_email'].value == '' || !signupForm.controls['contact_email'].value"><strong>This Field cannot be empty</strong></mat-error>
                          <mat-error *ngIf="signupForm.controls['contact_email'].invalid"><strong>Please enter a valid email address</strong></mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  <div class="col-sm-6">
                    <div class="form-group" >
                      <mat-form-field>
                        <!-- <mat-select placeholder="Company Title" (ngModelChange)="check($event)" required [(ngModel)]="model.title"name="title">

                          <mat-option *ngFor="let t of title" [value]="t.title">
                          {{t.title}}

                          </mat-option>

                          </mat-select> -->
                        <input matInput placeholder="Company Name" required [value]="only" name="title" #title>
                      </mat-form-field>
                    </div>



                  </div>
                </div>
              </div>
              <div class="text-right">
                <button mat-button matStepperNext class="btn btn-fill">Next
                  <i _ngcontent-c0="" class="fa fa-angle-right" style="font-size: 26px; margin: -9px 0px 0px 3px;"></i>
                </button>
              </div>
            </div>
          </div>

        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
          <div  [formGroup]="secondFormGroup" style="padding: 10px;">
            <ng-template matStepLabel>Plan Information</ng-template>
            <ng-template matStepLabel></ng-template>
            <div class="card" style="padding: 15px;">
              <!--<div class="card-header card-header-icon" data-background-color="rose" style="margin-top: -35px;">-->
                <!--<i class="material-icons">mail_outline</i>-->
              <!--</div>-->
              <div class="">
                <div class="row">

                        <div class="form-group" hidden="true">
                          <mat-form-field>
                            <input matInput placeholder="Profile url" required [value]="prourl" name="profileurl" #profileurl>
                          </mat-form-field>


                      </div>

                    <div class="form-group" hidden="true">
                      <mat-form-field>
                        <input matInput placeholder="Profile Logo" required  [value]="prologo" name="profile_logo" #profile_logo>
                      </mat-form-field>


                  </div>
<!-- 
                    <div class="form-group" hidden="true">
                      <mat-form-field>
                        <input matInput placeholder="Rating Logo" required  value="{{word.rating_logo}}" name="rating_logo" #rating_logo>
                      </mat-form-field>

                  </div> -->
                  <br class="clearfix" />
                  <div class="col-sm-6">
                    <div class="form-group">
                      <mat-form-field>
                        <input matInput placeholder="Plan Information" [(ngModel)]="plan_information" formControlName="plan_information">
                        <mat-error *ngIf="secondFormGroup.controls['plan_information'].value == '' || !secondFormGroup.controls['plan_information'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <mat-form-field>
                        <input matInput currencyMask placeholder="Price Details" [(ngModel)]="price_rate" formControlName="price_rate">
                        <mat-error *ngIf="secondFormGroup.controls['price_rate'].value == '' || !secondFormGroup.controls['price_rate'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                    </div>
                  </div>

                  <div class="col-sm-6">
                      <div class="form-group">
                          <mat-form-field class="margin">
                            <input matInput currencyMask placeholder="Cancelation Fee" required [(ngModel)]="cancelation_fee" formControlName="cancelation_fee">
                            <mat-error *ngIf="secondFormGroup.controls['cancelation_fee'].value == '' || !secondFormGroup.controls['cancelation_fee'].value"><strong>This Field cannot be empty</strong></mat-error>

                          </mat-form-field>
                        </div>
                    </div>

                </div>
                <div class="text-right">
                  <button mat-button matStepperPrevious class="btn btn-fill">
                    <i _ngcontent-c0="" class="fa fa-angle-left" style="font-size: 26px; margin: -9px 3px 0px 0px;"></i>
                    Back</button>
                  <button mat-button matStepperNext class="btn btn-fill">Next
                    <i _ngcontent-c0="" class="fa fa-angle-right" style="font-size: 26px; margin: -9px 0px 0px 3px;"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
          <div  [formGroup]="thirdFormGroup" style="padding: 10px;">
            <ng-template matStepLabel>Terms of Service</ng-template>
            <ng-template matStepLabel></ng-template>
            <div class="card" style="padding: 15px;">
              <!--<div class="card-header card-header-icon" data-background-color="rose" style="margin-top: -35px;">-->
                <!--<i class="material-icons">mail_outline</i>-->
              <!--</div>-->
              <div class="">
                <div class="row">
                    <div class="col-sm-4" >
                      <div class="form-group">
                      <mat-form-field>
                        <input matInput placeholder="Terms of Service " [(ngModel)]="terms_of_service"  formControlName="terms_of_service">
                        <mat-error *ngIf="thirdFormGroup.controls['terms_of_service'].value == '' || !thirdFormGroup.controls['terms_of_service'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                      </div>
                    </div>
                    <div class="col-sm-4" >
                      <div class="form-group">
                      <mat-form-field>
                        <input matInput placeholder="Fact Sheet " [(ngModel)]="fact_sheet"  formControlName="fact_sheet">
                        <mat-error *ngIf="thirdFormGroup.controls['fact_sheet'].value == '' || !thirdFormGroup.controls['fact_sheet'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                      </div>


                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <mat-form-field>
                        <input matInput [textMask]="{mask: phoneMask}" placeholder="Contact Number" required [(ngModel)]="phone" formControlName="phone">
                        <mat-error *ngIf="thirdFormGroup.controls['phone'].value == '' || !thirdFormGroup.controls['phone'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                    </div>

                  </div>

                    <div class="form-group" hidden="true">
                      <mat-form-field>
                        <input matInput placeholder="Sign up Company" [value]="sign" name="sign_up" #sign_up>
                      </mat-form-field>
                    </div>

                  <!-- <div class="col-sm-6">
                      <div class="form-group">
                        <label class="control-label">Security Question</label>
                        <mat-form-field>
                          <mat-select placeholder="Select Your Question">
                            <mat-option *ngFor="let q of sQuestion" [value]="q.value" [(ngModel)]="model.security_question">
                              {{ q.value }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div> -->

                  <div class="col-sm-6">
                    <div class="form-group">
                      <mat-form-field class="margin">
                        <input matInput currencyMask placeholder="Minimum Usage Fee" [(ngModel)]="minimum_usage_fee" formControlName="minimum_usage_fee">
                        <mat-error *ngIf="thirdFormGroup.controls['minimum_usage_fee'].value == '' || !thirdFormGroup.controls['minimum_usage_fee'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                    </div>


                  </div>

                  <div class="col-sm-6">
                      <div class="form-group">
                      <mat-form-field class="margin">
                        <input matInput placeholder="Renewable price" [(ngModel)]="renewable" formControlName="renewable">
                        <mat-error *ngIf="thirdFormGroup.controls['renewable'].value == '' || !thirdFormGroup.controls['renewable'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                      </div>



                  </div>
                </div>
                <div class="text-right">
                  <button mat-button matStepperPrevious class="btn btn-fill">
                    <i _ngcontent-c0="" class="fa fa-angle-left" style="font-size: 26px; margin: -9px 3px 0px 0px;"></i>
                    Back</button>
                  <button mat-button matStepperNext class="btn btn-fill">Next
                    <i _ngcontent-c0="" class="fa fa-angle-right" style="font-size: 26px; margin: -9px 0px 0px 3px;"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="fourthFormGroup">
          <div [formGroup]="fourthFormGroup" style="padding: 10px;">
            <ng-template matStepLabel>Price Detail</ng-template>
            <ng-template matStepLabel></ng-template>
            <div class="card" style="padding: 15px;">
              <!--<div class="card-header card-header-icon" data-background-color="rose" style="margin-top: -35px;">-->
                <!--<i class="material-icons">mail_outline</i>-->
              <!--</div>-->
              <div class="">
                <div class="row">
                  <div class="col-sm-6">


                    <div class="form-group">
                      <mat-form-field>
                        <input matInput placeholder="Special Terms" [(ngModel)]="spectialterms" formControlName="specialterms">
                      </mat-form-field>
                    </div>

                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <mat-form-field>
                        <input matInput currencyMask placeholder="Price of 500 KWH" required [(ngModel)]="price_500_kwh" formControlName="price_500_kwh">
                        <mat-error *ngIf="fourthFormGroup.controls['price_500_kwh'].value == '' || !fourthFormGroup.controls['price_500_kwh'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                    </div>

                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <mat-form-field class="margin">
                        <input matInput currencyMask placeholder="Price of 1000 KWH" required [(ngModel)]="price_1000_kwh" formControlName="price_1000_kwh">
                        <mat-error *ngIf="fourthFormGroup.controls['price_1000_kwh'].value == '' || !fourthFormGroup.controls['price_1000_kwh'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                    </div>

                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <mat-form-field class="margin">
                        <input matInput currencyMask placeholder="Price of 2000 KWH" required [(ngModel)]="price_2000_kwh" formControlName="price_2000_kwh">
                        <mat-error *ngIf="fourthFormGroup.controls['price_2000_kwh'].value == '' || !fourthFormGroup.controls['price_2000_kwh'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                    </div>

                  </div>
                </div>
                <div class="text-right">
                  <button mat-button matStepperPrevious class="btn btn-fill">
                    <i _ngcontent-c0="" class="fa fa-angle-left" style="font-size: 26px; margin: -9px 3px 0px 0px;"></i>
                    Back</button>
                  <button type="submit" mat-button matStepperNext (click)="signupuserdata(zipcode,utilityarea,contact_email,title.value,profileurl.value,profile_logo.value,plan_information,price_rate,cancelation_fee,fact_sheet,terms_of_service,phone,sign_up.value,minimum_usage_fee,renewable,spectialterms,price_1000_kwh,price_500_kwh,price_2000_kwh)" class="btn btn-fill">Done</button>
                </div>
              </div>
            </div>
          </div>
        </mat-step>

      </mat-horizontal-stepper>


    </form>

  </div>
</div>
