<div class="new-product-holder">
  <div class="page-title">

    <h3 class="text-center choiecegenie-offers wow fadeInLeft">Add New Product</h3>

  </div>

  <!--<h3 class="text-center">ADD NEW PRODUCT</h3>-->
  <!--<hr />-->

  <div class="row">
    <!-- <form   *ngif="signupForm"> -->

    <form class="sh-signup-form-fix" action="" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
      <mat-horizontal-stepper [linear]="isLinear" style="background: none;" class="mat-tabs-bar1">
        <mat-step [stepControl]="signupForm">
          <div [formGroup]="signupForm" style="padding: 10px;">
            <ng-template matStepLabel>Utility Area</ng-template>
            <ng-template matStepLabel></ng-template>
            <div class="card" style="padding: 15px;">
              <!--<div class="card-header card-header-icon" data-background-color="rose" style="margin-top: -35px;">-->
                <!--<i class="material-icons">mail_outline</i>-->
              <!--</div>-->
                <div class="row">
                    <div class="col-sm-6">

                        <div class="margin-b-10-i">
                          <mat-form-field >
                            <input matInput placeholder="Zipcode" required [(ngModel)]="zipcode" formControlName="zipcode">
                            <mat-error *ngIf="signupForm.controls['zipcode'].value == '' || !signupForm.controls['zipcode'].value"><strong>This Field cannot be empty</strong></mat-error>
    
                          </mat-form-field>
                        </div>
    
    
    
                    </div>
                  <div class="col-sm-6">

                    <div class="margin-b-10-i">
                        
                      <mat-form-field class="">
                        <!-- <input matInput placeholder="Utility Area" required [(ngModel)]="utilityarea" formControlName="utilityarea">
                         <mat-error *ngIf="signupForm.controls['utilityarea'].value == '' || !signupForm.controls['utilityarea'].value"><strong>This Field cannot be empty</strong></mat-error> -->

                      <!-- </mat-form-field>  -->
                      <!-- <mat-form-field class="margin-t-15"> -->
                        <!--<label class="date-lable">Service Area Name</label>-->
                      <mat-select class="search-select" placeholder="Service Area Name" required [(ngModel)]="name" name="name">
                        <mat-option value="AEP Texas North Service Area" style="font-size: 20px">AEP Texas North Service Area</mat-option>
                        <mat-option value="Centerpoint Electric Service Area" style="font-size: 20px">Centerpoint Electric Service Area</mat-option>
                        <mat-option value="Texas New Mexico Power Service Area" style="font-size: 20px">Texas New Mexico Power Service Area</mat-option>
                        <mat-option value="AEP Texas Central Service Area" style="font-size: 20px">AEP Texas Central Service Area</mat-option>
                        <mat-option value="Oncor Electric Delivery Service Area" style="font-size: 20px">Oncor Electric Delivery Service Area</mat-option>
                        <mat-option value="Sharyland Utilities Service Area" style="font-size: 20px">Sharyland Utilities Service Area</mat-option>
                      </mat-select>
                    </mat-form-field>
                      <!-- <div class="col-lg-3 cus-font col-xs-12"> -->
                          <!-- <mat-form-field class="margin-t-15">
                          
                            <mat-select class="search-select" placeholder="Service Area Name" required [(ngModel)]="utilityarea" name="utilityarea" formControlName="utilityarea">
                              <mat-option value="AEP TEXAS NORTH DIVISION" style="font-size: 20px">AEP TEXAS NORTH DIVISION</mat-option>
                              <mat-option value="CENTERPOINT ENERGY HOUSTON ELECTRIC LLC" style="font-size: 20px">CENTERPOINT ENERGY HOUSTON ELECTRIC LLC</mat-option>
                              <mat-option value="TEXAS-NEW MEXICO POWER COMPANY" style="font-size: 20px">TEXAS-NEW MEXICO POWER COMPANY</mat-option>
                              <mat-option value="AEP TEXAS CENTRAL" style="font-size: 20px">AEP TEXAS CENTRAL</mat-option>
                              <mat-option value="ONCOR ELECTRIC DELIVERY COMPANY" style="font-size: 20px">ONCOR ELECTRIC DELIVERY COMPANY</mat-option>
                            </mat-select>
                          </mat-form-field> -->
                        <!-- </div> -->
                                        </div>



                     <!-- <mat-error *ngIf="firstFormGroup.controls['serviceType'].invalid"><strong>One statement must be selected</strong></mat-error> -->  
                  </div>
                  <div class="col-sm-6">
                      <div class="">
                        <mat-form-field>
                            <input matInput placeholder="Company Email" readonly="true"  value="{{comprofile?.contact_email}}" name="contact_email" #contact_email >
                          <!-- <input matInput placeholder="Contact Email"  [(ngModel)]="contact_email" value="{{comprofile.contact_email}}" formControlName="contact_email"> -->
                          <mat-error *ngIf="signupForm.controls['contact_email'].value == '' || !signupForm.controls['contact_email'].value"><strong>This Field cannot be empty</strong></mat-error>
                          <!-- <mat-error *ngIf="signupForm.controls['contact_email'].invalid"><strong>Please enter a valid email address</strong></mat-error> -->
                        </mat-form-field>
                      </div>
                    </div>
                  <div class="col-sm-6">
                    <div class="" >
                      <mat-form-field>
                        <!-- <mat-select placeholder="Company Title" (ngModelChange)="check($event)" required [(ngModel)]="model.title"name="title">

                          <mat-option *ngFor="let t of title" [value]="t.title">
                          {{t.title}}

                          </mat-option>

                          </mat-select> -->
                        <input matInput placeholder="Company Name" required [value]="only"  name="title" #title>
                      </mat-form-field>
                    </div>



                  </div>
                </div>
              <div class="text-right">
                <button mat-button matStepperNext class="btn btn-fill">Next
                  <i _ngcontent-c0="" class="fa fa-angle-right" style="font-size: 26px; margin: -9px 0px 0px 3px;"></i>
                </button>
              </div>
            </div>
          </div>

        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
          <div  [formGroup]="secondFormGroup" style="padding: 10px;">
            <ng-template matStepLabel>Plan Details</ng-template>
            <ng-template matStepLabel></ng-template>
            <div class="card" style="padding: 15px;">
              <!--<div class="card-header card-header-icon" data-background-color="rose" style="margin-top: -35px;">-->
                <!--<i class="material-icons">mail_outline</i>-->
              <!--</div>-->
              <div class="">
                <div class="row sh-signup-form-fix">

                        <div class="" hidden="true">
                          <mat-form-field>
                            <input matInput placeholder="Profile url" required [value]="prourl" name="profileurl" #profileurl>
                          </mat-form-field>
                      </div>
                      
<!-- 
                    <div class="" hidden="true">
                      <mat-form-field>
                        <input matInput placeholder="Rating Logo" required  value="{{word.rating_logo}}" name="rating_logo" #rating_logo>
                      </mat-form-field>

                  </div> -->




                  <!-- <div class="col-sm-12">
                    <div class="margin-b-10-i">
                      <mat-form-field>
                        <textarea class="height-textarea" matInput placeholder="Plan Information" [(ngModel)]="plan_information" formControlName="plan_information"></textarea>
                        <mat-error *ngIf="secondFormGroup.controls['plan_information'].value == '' || !secondFormGroup.controls['plan_information'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="">
                      <mat-form-field>
                        <textarea class="height-textarea" matInput placeholder="Special Terms" [(ngModel)]="spectialterms" formControlName="specialterms"></textarea>
                     
                        <mat-error *ngIf="secondFormGroup.controls['specialterms'].value == '' || !secondFormGroup.controls['specialterms'].value"><strong>This Field cannot be empty</strong></mat-error>
                      </mat-form-field>
                    </div>
                  </div> -->

                  <div class="col-md-4">
                      <mat-form-field class="example-full-width margin-t-15">
                          <input matInput placeholder="Product Name" value="">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width margin-t-15">
                            <input matInput placeholder="Term (Mounth)" value="">
                          </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width margin-t-15">
                            <input matInput placeholder="Renewable (%)" value="">
                          </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <h4 class="sm-heading">Rate Type</h4>
                        <div class="radio">
                            <label class="redio-lable">
                              <input checked="true" name="planmin" ng-model="planmin" type="radio" value="NULL"><span class="circle"></span><span class="check"></span>
                              Fixed Rate
                            </label>
                          </div>
                          <div class="radio">
                              <label class="redio-lable">
                                <input checked="true" name="planmin" ng-model="planmin" type="radio" value="NULL"><span class="circle"></span><span class="check"></span>
                                Variable Rate
                              </label>
                            </div>
                            <div class="radio">
                                <label class="redio-lable">
                                  <input checked="true" name="planmin" ng-model="planmin" type="radio" value="NULL"><span class="circle"></span><span class="check"></span>
                                  Indexed
                                </label>
                              </div>
                    </div>

                    
                        <div class="col-sm-6">
                            <h4 class="sm-heading">Customer Type</h4>
                              <div class="radio">
                                  <label class="redio-lable">
                                    <input checked="true" name="planmin" ng-model="planmin" type="radio" value="NULL"><span class="circle"></span><span class="check"></span>
                                    New Customer
                                  </label>
                                </div>
                                <div class="radio">
                                    <label class="redio-lable">
                                      <input checked="true" name="planmin" ng-model="planmin" type="radio" value="NULL"><span class="circle"></span><span class="check"></span>
                                      Existing
                                    </label>
                                  </div>
                                  <div class="radio">
                                      <label class="redio-lable">
                                        <input checked="true" name="planmin" ng-model="planmin" type="radio" value="NULL"><span class="circle"></span><span class="check"></span>
                                        New and Existing
                                      </label>
                                    </div>
                          </div>


                  <!-- <div class="col-sm-6">
                    <div class="">
                      <mat-form-field>
                        <input matInput currencyMask placeholder="Price Details" [(ngModel)]="price_rate" formControlName="price_rate">
                        <mat-error *ngIf="secondFormGroup.controls['price_rate'].value == '' || !secondFormGroup.controls['price_rate'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                    </div>
                  </div> -->

                  

                </div>
                <div class="text-right">
                  <button mat-button matStepperPrevious class="btn btn-fill">
                    <i _ngcontent-c0="" class="fa fa-angle-left" style="font-size: 26px; margin: -9px 3px 0px 0px;"></i>
                    Back</button>
                  <button mat-button matStepperNext class="btn btn-fill">Next
                    <i _ngcontent-c0="" class="fa fa-angle-right" style="font-size: 26px; margin: -9px 0px 0px 3px;"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
          <div  [formGroup]="thirdFormGroup" style="padding: 10px;">
            <ng-template matStepLabel>Terms of Service</ng-template>
            <ng-template matStepLabel></ng-template>
            <div class="card" style="padding: 15px;">
              <!--<div class="card-header card-header-icon" data-background-color="rose" style="margin-top: -35px;">-->
                <!--<i class="material-icons">mail_outline</i>-->
              <!--</div>-->
              <div class="">
                <div class="row sh-signup-form-fix">
                    <div class="col-sm-6 margin-b-10-i">
                        <!-- <div class=""> -->
                        <!-- <mat-form-field> -->
                            <!-- <input   type='file' (change)="onChange($event)" (change)="readUrl($event)" formControlName="terms_of_service" [(ngModel)]="terms_of_service" accept=".pdf,.doc,.docx*" multiple> -->
                          <!-- <input matInput placeholder="Terms of Service " [(ngModel)]="terms_of_service"  formControlName="terms_of_service"> -->
                          <!-- <mat-error *ngIf="thirdFormGroup.controls['terms_of_service'].value == '' || !thirdFormGroup.controls['terms_of_service'].value"><strong>This Field cannot be empty</strong></mat-error> -->
  
                        <!-- </mat-form-field> -->
                      
                      <!-- OR -->
                        <!-- </div> -->
                        <label>Please Upload Your Plan Terms of Service</label>
                        <input type='file' (change)="onChange($event)" (change)="readUrl($event)"    name="terms_of_service" [(ngModel)]="terms_of_service" accept=".pdf*" multiple >
                    
                      </div>
                       <div class="col-sm-6 margin-b-10-i" >
                        <!-- <div class="">
                        <mat-form-field>
                          <input matInput placeholder="Fact Sheet " [(ngModel)]="fact_sheet"  formControlName="fact_sheet">
                          <mat-error *ngIf="thirdFormGroup.controls['fact_sheet'].value == '' || !thirdFormGroup.controls['fact_sheet'].value"><strong>This Field cannot be empty</strong></mat-error>
  
                        </mat-form-field>
                        </div> -->
  <!-- <label>If you have term of services link</label> -->
                        <label>Please Upload your Plan fact Sheet</label>
                        <input type='file' (change)="onChangefeet($event)" (change)="readUrlfect($event)"    name="fact_sheet" [(ngModel)]="fact_sheet" accept=".pdf*" multiple >
                       
  
                      </div>
                    <!-- <div class="col-sm-6" >
                      <div class="">
                      <mat-form-field>
                        <input matInput placeholder="Terms of Service " [(ngModel)]="terms_of_service"  formControlName="terms_of_service">
                        <mat-error *ngIf="thirdFormGroup.controls['terms_of_service'].value == '' || !thirdFormGroup.controls['terms_of_service'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                      </div>
                    </div> -->
                    <!-- <div class="col-sm-6" >
                      <div class="">
                      <mat-form-field>
                        <input matInput placeholder="Fact Sheet " [(ngModel)]="fact_sheet"  formControlName="fact_sheet">
                        <mat-error *ngIf="thirdFormGroup.controls['fact_sheet'].value == '' || !thirdFormGroup.controls['fact_sheet'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                      </div>


                  </div> -->
                  <div class="col-sm-6">
                    <div class="">
                      <mat-form-field>
                        <input matInput [textMask]="{mask: phoneMask}" placeholder="Contact Number" required [(ngModel)]="phone" formControlName="phone">
                        <mat-error *ngIf="thirdFormGroup.controls['phone'].value == '' || !thirdFormGroup.controls['phone'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                    </div>

                  </div>
                  <div class="col-sm-6">
                    <div class="" >
                      <mat-form-field>
                        <input matInput placeholder="Sign up Company" [value]="sign" name="sign_up" #sign_up>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- <div class="col-sm-6">
                      <div class="">
                        <label class="control-label">Security Question</label>
                        <mat-form-field>
                          <mat-select placeholder="Select Your Question">
                            <mat-option *ngFor="let q of sQuestion" [value]="q.value" [(ngModel)]="model.security_question">
                              {{ q.value }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div> -->

                  
                </div>
                <div class="text-right">
                  <button mat-button matStepperPrevious class="btn btn-fill">
                    <i _ngcontent-c0="" class="fa fa-angle-left" style="font-size: 26px; margin: -9px 3px 0px 0px;"></i>
                    Back</button>
                  <button mat-button matStepperNext class="btn btn-fill">Next
                    <i _ngcontent-c0="" class="fa fa-angle-right" style="font-size: 26px; margin: -9px 0px 0px 3px;"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="fourthFormGroup">
          <div [formGroup]="fourthFormGroup" style="padding: 10px;">
            <ng-template matStepLabel>Price Detail</ng-template>
            <ng-template matStepLabel></ng-template>
            <div class="card" style="padding: 15px;">
              <!--<div class="card-header card-header-icon" data-background-color="rose" style="margin-top: -35px;">-->
                <!--<i class="material-icons">mail_outline</i>-->
              <!--</div>-->
              <div class="">
                <div class="row sh-signup-form-fix">
                 
                  <div class="col-lg-4 col-xs-12">
                    <!--<label class="date-lable">Effective from date</label>-->
                   
                  <mat-form-field class="margin-b-10-i">
                    <input matInput [matDatepicker]="startPicker" [(ngModel)]="product_inactive_date" formControlName="product_inactive_date" placeholder="Effective from date"/>
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle> <mat-datepicker #startPicker></mat-datepicker>
                  </mat-form-field>
                  <!-- <input type="date" placeholder="Inactive Date" required name="Inactivedate" [(ngModel)]="Inactivedate" style="    padding: 2px 0px; font-size: 16px;    font-weight: bold;"> -->
    
                </div>
    
                  <div class="col-lg-4 col-xs-12">
                      <!--<label class="date-lable">Effective to date</label>-->
                    <mat-form-field class="margin-b-10-i">
                      <input matInput [matDatepicker]="startPicker1" [(ngModel)]="publish_product_date" formControlName="publish_product_date"placeholder="Effective to date"/>
                      <mat-datepicker-toggle matSuffix [for]="startPicker1"></mat-datepicker-toggle><mat-datepicker #startPicker1></mat-datepicker>
                    </mat-form-field>
    
                    <!-- <input type="date" placeholder="Publish Date" required name="publishdate" [(ngModel)]="publishdate" style="    padding: 2px 0px; font-size: 16px; font-weight: bold;"> -->
    
                  </div>

              <div class="col-lg-4 col-xs-12" hidden="true">
                <mat-form-field class="margin-b-10-i">
                  <input matInput placeholder="Profile Logo" required  [value]="prologo" name="profile_logo" #profile_logo>
                </mat-form-field>


            </div>
                  <div class="col-sm-4">
                    <div class="margin-b-10-i">
                      <mat-form-field>
                        <input matInput currencyMask placeholder="Price of 500 KWH" required [(ngModel)]="price_500_kwh" formControlName="price_500_kwh">
                        <mat-error *ngIf="fourthFormGroup.controls['price_500_kwh'].value == '' || !fourthFormGroup.controls['price_500_kwh'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                    </div>

                  </div>

                  <div class="col-sm-4">
                    <div class=" ">
                      <mat-form-field class="margin-b-10-i">
                        <input matInput currencyMask placeholder="Price of 1000 KWH" required [(ngModel)]="price_1000_kwh" formControlName="price_1000_kwh">
                        <mat-error *ngIf="fourthFormGroup.controls['price_1000_kwh'].value == '' || !fourthFormGroup.controls['price_1000_kwh'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                    </div>

                  </div>
                  <div class="col-sm-4">
                    <div class="">
                      <mat-form-field class=" margin-b-10-i">
                        <input matInput currencyMask placeholder="Price of 2000 KWH" required [(ngModel)]="price_2000_kwh" formControlName="price_2000_kwh">
                        <mat-error *ngIf="fourthFormGroup.controls['price_2000_kwh'].value == '' || !fourthFormGroup.controls['price_2000_kwh'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                    </div>

                  </div>
                  <div class="col-sm-4" >
                       
    
                      <div class="formrow margin-b-10-i" >
                          <input type="checkbox" [(ngModel)]="status_600" formControlName="status_600" (click)="AddReservePriceFun()"  />
                          Add price of 600kWh
                        </div>
              <div class="" *ngIf="status_600 == true" >
                <mat-form-field class="margin-b-10-i">
                  <input matInput currencyMask placeholder="Price of 600 KWH"   required [(ngModel)]="price_600_kwh" formControlName="price_600_kwh">
                  <!-- <mat-error *ngIf="fourthFormGroup.controls['price_600_kwh'].value == '' || !fourthFormGroup.controls['price_600_kwh'].value"><strong>This Field cannot be empty</strong></mat-error> -->
                   </mat-form-field>
              </div>
</div>
            <!-- </div> -->
            <div class="col-sm-4">
                <div class="formrow margin-b-10-i">
                    <input type="checkbox" (click)="AddReservePriceFun1()"  [(ngModel)]="status_900" formControlName="status_900" />
                    Add price of 900kWh
                  </div>
              <div class="">
                <mat-form-field class="margin-b-10-i" *ngIf="status_900 == true">
                  <input matInput currencyMask placeholder="Price of 900 KWH"   required [(ngModel)]="price_900_kwh" formControlName="price_900_kwh">
                  <!-- <mat-error *ngIf="fourthFormGroup.controls['price_900_kwh'].value == '' || !fourthFormGroup.controls['price_900_kwh'].value"><strong>This Field cannot be empty</strong></mat-error> -->
                  
                </mat-form-field>
              </div>

            </div>
        
            <div class="col-sm-4">
              <div class="formrow margin-b-10-i">
                  <input type="checkbox" (click)="AddReservePriceFun2()" [(ngModel)]="status_1200" formControlName="status_1200" />
                  Add price of 1200kWh
                </div>
            <div class="">
              <mat-form-field class="margin-b-10-i" *ngIf="status_1200 == true">
                <input matInput currencyMask placeholder="Price of 1200 KWH"   required [(ngModel)]="price_1200_kwh" formControlName="price_1200_kwh">
                <!-- <mat-error *ngIf="fourthFormGroup.controls['price_1200_kwh'].value == '' || !fourthFormGroup.controls['price_1200_kwh'].value"><strong>This Field cannot be empty</strong></mat-error> -->
                
              </mat-form-field>
            </div>

          </div>
          <div class="col-sm-4">
              <div class="formrow margin-b-10-i">
                  <input type="checkbox" (click)="AddReservePriceFun3()"  [(ngModel)]="status_1500" formControlName="status_1500" />
                  Add price of 1500kWh
                </div>
            <div class="">
              <mat-form-field class="margin-b-10-i" *ngIf="status_1500 == true">
                <input matInput currencyMask placeholder="Price of 1500 KWH"   required [(ngModel)]="price_1500_kwh" formControlName="price_1500_kwh">
                <!-- <mat-error *ngIf="fourthFormGroup.controls['price_1500_kwh'].value == '' || !fourthFormGroup.controls['price_900_kwh'].value"><strong>This Field cannot be empty</strong></mat-error> -->
                
              </mat-form-field>
            </div>

          </div>
        
                  <div class="col-sm-4">
                    <div class="">
                      <mat-form-field class="margin-b-10-i">
                        <input matInput currencyMask placeholder="Minimum Usage Fee" [(ngModel)]="minimum_usage_fee" formControlName="minimum_usage_fee">
                        <mat-error *ngIf="fourthFormGroup.controls['minimum_usage_fee'].value == '' || !fourthFormGroup.controls['minimum_usage_fee'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="">
                      <mat-form-field class=" margin-b-10-i">
                        <input matInput placeholder="Renewable price" [(ngModel)]="renewable" formControlName="renewable">
                        <mat-error *ngIf="fourthFormGroup.controls['renewable'].value == '' || !fourthFormGroup.controls['renewable'].value"><strong>This Field cannot be empty</strong></mat-error>

                      </mat-form-field>
                      </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="">
                        <mat-form-field class="margin-b-10-i">
                          <input matInput currencyMask placeholder="Cancelation Fee" required [(ngModel)]="cancelation_fee" formControlName="cancelation_fee">
                          <mat-error *ngIf="fourthFormGroup.controls['cancelation_fee'].value == '' || !fourthFormGroup.controls['cancelation_fee'].value"><strong>This Field cannot be empty</strong></mat-error>

                        </mat-form-field>
                      </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                        <mat-form-field class="">
                          <input matInput  placeholder="Enrollment product id" required [(ngModel)]="enrollment_productid" formControlName="enrollment_productid">
                          <mat-error *ngIf="fourthFormGroup.controls['enrollment_productid'].value == '' || !fourthFormGroup.controls['enrollment_productid'].value"><strong>This Field cannot be empty</strong></mat-error>

                        </mat-form-field>
                      </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                        <mat-form-field class="">
                          <input matInput  placeholder="Product Batch Rate" required [(ngModel)]="product_batch_rate" formControlName="product_batch_rate">
                          <mat-error *ngIf="fourthFormGroup.controls['product_batch_rate'].value == '' || !fourthFormGroup.controls['product_batch_rate'].value"><strong>This Field cannot be empty</strong></mat-error>

                        </mat-form-field>
                      </div>
                  </div>
                </div>
                <div class="text-right">
                  <button mat-button matStepperPrevious class="btn btn-fill">
                    <i _ngcontent-c0="" class="fa fa-angle-left" style="font-size: 26px; margin: -9px 3px 0px 0px;"></i>
                    Back</button>
                  <button type="submit" mat-button matStepperNext (click)="signupuserdata(zipcode,utilityarea,contact_email.value,title.value,profileurl.value,profile_logo.value,plan_information,cancelation_fee,fact_sheet,terms_of_service,phone,sign_up.value,minimum_usage_fee,renewable,spectialterms,price_1000_kwh,price_500_kwh,price_2000_kwh, publish_product_date,product_inactive_date,enrollment_productid,product_batch_rate)" class="btn btn-fill">Done</button>
                </div>
              </div>
            </div>
          </div>
        </mat-step>

      </mat-horizontal-stepper>


    </form>

  </div>
</div>
