<app-loader></app-loader>
<div class="" *ngIf="data">
  <div class="container-fluid padding70-l-r">
      <div class="">
          <h3  class="text-center blog-heading">
            <span style="border-bottom: 3px solid #c00;">{{heading}}</span>
          </h3>
          </div>
    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12 " >
        <!-- <div class="terms-condition-wrapper"> -->
        <div class="blog1-img">
            <img  *ngIf="image" src="https://storage.choicegenie.com/images/{{image}}">
        </div>
          <div  id="myDiv"></div>


        <!-- </div> -->
      </div>
    </div>
  </div>
  </div>


