<section style="padding-top: 0px; padding-bottom: 0px; background: url(../assets/img/how.jpg) no-repeat; background-position: center center; background-size: cover;"
  class="blox   full-container  what_class w-animate  w-start_animation">
  <div class="max-overlay"></div>
  <div class="wpb_row vc_row-fluid full-row">
    <div class="container">
      <div class="what wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper">

            <div class="wpb_text_column wpb_content_element ">
              <div class="">
                <h3 style="text-align: center; font-size:40px !important;">How it Works</h3>
                <p class="how-it-works-paragraph">
                  ChoiceGenie is a next generation Artificially Intelligent Marketplace where consumers can search and compare Energy Products
                  for a Super-Fast Ultra-Cool Comparative Shopping experience.Energy Products/Plans can be Bid, Sold & Bought
                  on ChoiceGenie through a Simple, Fast n’ Easy App on Web & Mobile that can save consumers Hundreds of Dollars
                  on average per year!
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="how-it-works-wrapper">
  <div class="container">
    <div class="row">
      <h3 class="text-center choiecegenie-offers wow fadeInLeft col-lg-12" style="margin-top: 22px !important;">
        <span style="color: #c00;">ChoiceGenie</span> Offers</h3>
      <div class="col-lg-3 col-md-6 col-sm-3 col-xs-12">
        <div class="how-it-works-box">
          <img src="assets\img\a.png">
          <h3>1. Signup on ChoiceGenie</h3>
          <p>Signup on ChoiceGenie is Super Easy and takes less than a few minutes on Web or Mobile: Download our next generation
            Artificially Intelligent App on Google Play Store or Apple App Store.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-3 col-xs-12">
        <div class="how-it-works-box">
          <img src="assets\img\b.png">
          <h3>2. Search for Plans/Products</h3>
          <p>Enter your Zipcode. ChoiceGenie will recommend the Top Vendors/Plans with the Best Options to SAVE you Hundreds
            of Dollars a Year! It hardly takes a few minutes.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-3 col-xs-12">
        <div class="how-it-works-box">
          <img src="assets\img\c.png">
          <h3>3. Analyze your Energy Consumption</h3>
          <p> Setup your profile and let our proprietary AI Crunch/Analyze your Energy Consumption. Based on these Hard-Core
            Analytics, ChoiceGenie will alert you on Energy Saving Tips & Vendor/Plan Change Recommendations.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-3 col-xs-12">
        <div class="how-it-works-box">
          <img src="assets\img\d.png">
          <h3>4. Enjoy the Savings</h3>
          <p>After you Signup for the best Energy Product/Pricing, leave a Review for the Energy Vendor. Elevate your comparative
            shopping experience to a whole new level with ChoiceGenie. Signup Now.</p>
        </div>
      </div>
    </div>


    <div class="row">
      <h3 class="text-center choiecegenie-offers wow fadeInLeft col-lg-12 col-md-12 col-sm-12" style="visibility: visible; padding-bottom: 10px; margin-top: 20px !important;">How
        <span style="color: #c00;">ChoiceGenie</span> works for Buyers?</h3>
      <div class="col-lg-3 col-md-6 col-sm-3 col-xs-12">
        <div class="how-it-works-box">
          <img class="img-holder" src="../assets/img/1.png" style="width: 130px;">
          <h3>1. Signup on ChoiceGenie</h3>
          <p>Vendor Signup on ChoiceGenie is a breeze on Web or Mobile: Download our next generation Artificially Intelligent
            App on Google Play Store or Apple App Store.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-3 col-xs-12">
        <div class="how-it-works-box">
          <img class="img-holder" src="../assets/img/2.png" style="width: 130px;">
          <h3>2. Configure your Vendor Profile</h3>
          <p>Showcase your Company to the world – Highlight your Strengths and boost your Products’ “Getting Sold” chances!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-3 col-xs-12">
        <div class="how-it-works-box">
          <img class="img-holder" src="../assets/img/3.png" style="width: 130px;">
          <h3>3. Add/Edit Products</h3>
          <p>Post/Edit your “Products” and showcase your Savings to prospective Buyers. Get Bids on Product Offerings as a Promo
            Mechanism. Project yourself to the world!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-3 col-xs-12">
        <div class="how-it-works-box">
          <img class="img-holder" src="../assets/img/4.png" style="width: 130px;">
          <h3>4. Give your Earning Wings</h3>
          <p>ChoiceGenie gives Wings to your Energy Products sales SELL yourself to Customers on ChoiceGenie like NEVER BEFORE!</p>
        </div>
      </div>
    </div>
  </div>
</div>