<app-header></app-header>
<br>
<div class="container">
    <div class="Confirmation">
        <div class="text-center">
            <i style="color:green" class="fa fa-check fa-5x"></i>
            <h1>Thanks!</h1>
            <h4>Your service request has been received</h4>
        </div>
        <br>
        <div>
            <p>Thank you for submitting your enrollment application! Your Enrollment reference ID is:
                <b style="display: inline; font-size: 18px;">{{response?.message?.use_cust_id}}</b>.</p>
            <p *ngIf="response?.message_color == 'red'" style="color: #cd0000; font-size: bold">
                {{response?.show_message}}
            </p>
            <p *ngIf="response?.message_color == 'black'" style="font-size: bold">
                {{response?.show_message}}
            </p>
            <p>
                Please print a copy of this page for your records.
            </p>
            <p>
                We will be sending you a final confirmation email with your account number & contract information. In this email you will also receive a link to view your contract documents electronically. These documents include the Terms of Service (TOS), Your Rights
                As A Customer (YRAC) & Electricity Facts Label (EFL).
            </p>
            <p>
                If you are required to submit additional documents or have not made the required payment, please note that your enrollment will be pending until all requirements are complete. If you have any questions or need further assistance, please email or call
                us.
            </p>
            <p>
                Once your account has been activated, you can visit our website to create an online account. Access your account online anytime! Instantly view your balance, payment history, & billing statements in real time and pay your monthly invoice in under a minute.
                You can also enroll for Automatic Bill Payments and Paperless Billing so you never miss a payment.
            </p>
            <hr>
            <div>
                <strong>
                    Have any questions?
                </strong>
                <p class="text-center text1">
                    Contact our Customer Support team
                </p>
            </div>
            <hr>
            <div class="main text-center">
                <p class="inner">
                    <strong>Toll Free </strong> 1-888-545-4687
                </p>
            </div>
            <div class="main text-center">
                <p class="inner">
                    <strong>Mailing Address</strong> 17154 Butte Creek Rd, Suite# 250. Houston, TX 77090
                </p>
            </div>
            <div class="main text-center">
                <p class="inner">
                    <strong>Email</strong> customerservice@ourenergyllc.com
                </p>
            </div>
            <div class="main text-center">
                <p class="inner">
                    <strong>Website</strong> <a target="_blank" href="https://ourenergyllc.wattcrm.com">OurEnergyLLC DOT com</a>
                </p>
            </div>
        </div>
    </div>
    <h3 style="padding-top: 10px; margin-bottom: 0px !important;" class="text-center">Download Now!</h3>
    <div style="margin-bottom: 20px;" class="text-center">
        <a href="https://itunes.apple.com/us/app/our-energy/id1438707950?mt=8" target="_blank">
            <i style="margin-right: 15px; font-size: 45px; color: #333" class="fa fa-apple" matTooltip="IOS App"></i>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.brainplow.OurEnergythemeone" target="_blank">
            <i style="font-size: 45px; color: #333" class="fa fa-android" matTooltip="Android App"></i>
        </a>
    </div>
</div>
<br>
<app-footer-cmp></app-footer-cmp>