.Confirmation {
    padding: 10px;
    hr {
        margin: 10px !important;
    }
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

h4 {
    margin-top: 5px;
}

.text1 {
    display: inline;
}

.main {
    display: flex;
}

.inner {
    flex: 1;
}