h1 {
    font-size: 40px !important
}

.premise {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 0px;
    justify-content: center;
    .inner-premise {
        display: flex;
        flex-direction: row;
        .premise-details {
            display: flex;
            flex: 1;
            flex-direction: column;
            text-align: center;
            h4 {
                margin-top: 6px;
                margin-bottom: -3px;
            }
            button {
                background-color: #000;
                border-radius: 100px;
                color: #fff;
                font-weight: bold;
                margin-top: 13px
            }
            button:disabled,
            button[disabled] {
                background-color: rgba(0, 0, 0, .12);
                color: rgba(0, 0, 0, .26);
            }
        }
    }
}

.multiple-premise {
    margin-right: 0px;
    margin-left: 0px;
}

.heading {
    margin: 0 0 30px;
}

.residential-main {
    display: flex;
    flex-direction: column;
    .heading {
        text-align: center;
        margin-bottom: 40px;
        border-bottom: 5px ridge #cd0000;
        font-weight: bold;
    }
    .cart {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        i {
            font-size: 38px;
            cursor: pointer;
        }
    }
    .multiplePremise {
        text-align: center;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px 20px;
        border: 1px solid #cdcdcd;
        border-radius: 4px;
        margin: 10px;
        .item {
            display: flex;
            flex-direction: column;
            button {
                background-color: #000;
                color: #fff;
                font-weight: bold
            }
        }
    }
}

.enrolled {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

@media (max-width: 551px) {
    .enrolled {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.enrol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 5px;
    margin-left: 5px;
    justify-content: space-around;
    margin-bottom: 10px;
    border-radius: 8px;
    button {
        width: 100%;
        margin-top: 10px;
        padding: 4px;
        font-size: 22px;
        font-weight: 800 !important;
        background-color: #000;
        color: #fff;
        border-radius: 25px;
    }
    .enroll-or {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        label {
            font-weight: bold;
            font-size: 20px;
            color: #fff;
            padding: 15px;
            background-color: #cd0000;
            border-radius: 50%;
        }
    }
    .enroll-main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        mat-form-field {
            font-size: 20.1px;
            font-weight: bold;
        }
        mat-icon {
            font-size: 27px;
            color: #4d4747;
        }
        mat-hint {
            font-weight: bold;
        }
    }
}

@media (max-width: 570px) {
    .enrol {
        display: flex;
        flex-direction: column;
        .enroll-or {
            display: flex;
            flex-direction: column;
            padding: 10px;
            margin: auto;
            label {
                font-weight: bold;
                font-size: 20px;
                color: #fff;
                text-align: center;
                padding: 15px;
                background-color: #cd0000;
                border-radius: 50%;
                max-width: 70px;
            }
        }
    }
}

.rateSheet {
    padding: 5px;
    div {
        display: inherit;
    }
    span {
        font-size: 20px;
        font-weight: bold;
    }
}

.pdf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    a {
        font-size: 16px;
        margin: 3px 10px;
        font-weight: bold;
    }
}

.enroll-plan {
    border-radius: 10px;
    padding: 16px 24px;
    margin-left: 5px;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.7);
    .pro {
        text-align: center;
        border-bottom: 5px ridge #000;
        font-weight: bold;
    }
    p {
        font-size: 16px;
        font-weight: bold;
    }
    span {
        font-size: 14px;
    }
    h2 {
        font-size: 20px;
    }
    mat-card {
        padding: 5px;
        background-color: #e8e8e8;
    }
    .lable {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-style: italic;
        color: #6c6a6a;
    }
}

.spinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 0 20px;
}