<div class="col-md-12 col-lg-12 col-sm-12  col-xs-12" style="" >

  <div class="page-title margin-t">
    <!--<span>Contact Detail </span>-->
    <h3 class="text-center choiecegenie-offers wow fadeInLeft" style="margin-bottom: 11px !important;"> Contact Details  </h3>

  </div>


<div class="row">
<div class="search-bar col-lg-8">
  <input class="col-lg-9 search-field" type="text" [(ngModel)]=name name="name">
  <button class="col-lg-3 search-btn" (click)="search(name)">Search</button>
</div>
</div>




<div class="ptb-80" >
<div class="container-fluid padding-zero-i">
<!-- <div class="text-center appio-center-heading pb-20">
<h2>Why ChoiceGenie?</h2>
<span _ngcontent-c4="" class="bordered-icon"><i _ngcontent-c4="" class="fa fa-square"></i></span>
<p class="text-center"> We, the engineers at ChoiceGenie have devised bleeding edge Machine Learning (ML) and proprietary Artificially Intelligent (AI) algorithms to bring you a next generation Artificially Intelligent Comparative Shopping Marketplace for Energy Vendors/Products. Our technology is bleeding edge and was engineered with a singular goal: Save the consumer Time n’ Money. </p>
</div> -->
<div class="com-table scroll-table">
    <div class="modal fade" id="myModal5" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content popupmodel">
            <div class="modal-header">


            </div>
            <div class="modal-body" style="font-size: 18px;
                      background: #ffffff;
                      padding: 20px;
                      margin: 15px;
                      position: relative;">
              <div class="popup-close-button" data-dismiss="modal">X</div>
              <div class="row">

                <div>

                  <p>{{comt}}</p>
                </div>

              </div>

            </div>
            <div style="display:inline-block; text-align:center;">

            </div>
          </div>
        </div>
      </div>
<table class="table table-bordered table-striped tablefixed margin-zero1" style="background-color:#ffffff">
  <thead>
  <tr>
    <th class="text-center" hidden="ture">User ID</th>
    <th class="text-center">Name</th>
    <th class="text-center">Email</th>
    <th class="text-center">Contact #</th>
    <th class="text-center">Subject</th>
     <th class="text-center">Description</th>
     <th class="text-center">Date</th>
    <th class="text-center">Delete</th>
    <!-- <th class="text-center">Email</th>
    <th class="text-center">Country</th> -->
  </tr>
  </thead>
  <tbody *ngIf="data;else no_data_templ">
  <tr *ngFor="let item of data; let i = index" style="text-align: center;">
    <td style="font-size: 20px;" hidden="ture">{{item.id}}</td>
    <td style="font-size: 20px;">{{item.name}}</td>
    <td style="font-size: 20px;">{{item.email}}</td>
    <td style="font-size: 20px;">{{item.mobno}}</td>
    <td style="font-size: 20px;">{{item.subject}}</td>
    <td style="font-size: 20px;">
        <label class="view-plan-details" style="padding-bottom: 0px; margin-bottom: 0px;" (click)="btncomtClick(item.msg)"
        data-toggle="modal" data-target="#myModal5"> View massage
      </label>
    </td>
    <td style="font-size: 20px;">{{item.date}}</td>
    <!-- <td style="font-size: 20px;">{{item.msg}}</td> -->

   <td style="font-size: 20px;">
     <button  class="btn btn-default" data-target="#myModal3" data-toggle="modal" style=" width: 100%; height: 100%; color: red; background-color: #ffffff !important; " type="submit" value="Delete" (click)="btnDeleteClick(item.id)" >
       <i  class="fa fa-times"></i> </button>
   </td>
   <!-- <td style="font-size: 20px;"  ><a>Delete </a></td> -->
    <!--<td style="font-size: 20px;">{{item.state}}</td>
    <td style="font-size: 20px;">{{item.email}}</td>
    <td style="font-size: 20px;">{{item.country}}</td> -->
  </tr>
  </tbody>
</table>
<div class="modal fade" id="myModal3" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="margin-top:25%; width:119%;">
      <div class="modal-header">

        <h4 class="modal-title" style="text-align: center;
      color: red;
      font-size: 30px;">Confirmation Alert</h4>
        <button type="button" class="close close-button" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="font-size: 18px;
      text-align: center; padding: 0px;">
        <p class="delet-this">Do you want to Delete this Task?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-fill" (click)="deleteClick(dataId)" data-dismiss="modal" style="
      color: white;

      width: 20%;
      height: 45px;
      font-size: 18px;">Delete</button>
        <button type="button" class="btn btn-fill" data-dismiss="modal" style="
      color: white;

      width: 20%;
      height: 45px;
      font-size: 18px;">Cancel</button>
      </div>
    </div>
  </div>
</div>

<span>
      <ng-template #no_data_templ>

        <!-- <img src="../../assets/img/no_Record.png" style="width: 250px;height:200px" > -->
        <h1 style="height:1000px;width:1000px;padding:200px">

          <!-- <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No Record Found</b> -->
        </h1>
      </ng-template>
    </span>

</div>
  <div class="container">
    <div class="text-center">
      <!-- <h1>Angular 2 - Pagination Example with logic like Google</h1> -->

      <!-- items being paged -->
      <div *ngFor="let item of pagedItems">{{item.name}}</div>

      <!-- pager -->
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{hide:pager.currentPage === 1}">
          <a (click)="premiseIdData(1)" class="btn btn-fill">First</a>
        </li>
        <li [ngClass]="{hide:pager.currentPage === 1}">
          <a (click)="premiseIdData(pager.currentPage - 1)" class="btn btn-fill">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="premiseIdData(page)" class="btn btn-fill">{{page}}</a>
        </li>
        <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
          <a (click)="premiseIdData(pager.currentPage + 1)" class="btn btn-fill" type="Next">Next</a>
        </li>
        <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
          <a (click)="premiseIdData(pager.totalPages)" class="btn btn-fill" type="Last">Last</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
