.Account{
    margin-top: 13px;
    font-size: 17px;
    font-weight: 600
}
.userlogin-signup:hover{
color: #c00;
text-decoration: none
}
.login-link-anchor:hover{
    color: #c00!important
}
.forget:hover{
    color: #c00!important
}
input.mat-input-element {
    font-size: 24px;
}