
<div class="header-home margin-nav70" style="position: fixed; z-index: 9; width: 100%;">
  <div class="top-bar container-fluid main-bg">
      <div class="pull-left">
          <p class="info-bar">
            <i class="fa fa-envelope"></i> 
              Email: info@choicegenie.com
              
          </p>
        </div>
    
    <div class="pull-right">
      <ul class="top-icon">
        <li>
        <a onclick="topFunction()"  routerLink="/contactus">
        Contact Us
        </a>
        </li>
        <li>
        <a onclick="topFunction()"  routerLink="/Faqs">
        Help
        </a>
        </li>
        <li>
        <a onclick="topFunction()" routerLink="/userlogin" >
        My Account
        </a>
        </li>
        <li>
          <a onclick="topFunction()" href=" https://www.facebook.com/Choicegenie-337916770049641/" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a onclick="topFunction()"  href="https://twitter.com/Choicegenie1/"  target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a onclick="topFunction()" href="https://www.pinterest.com/95e02068dbf471424b31ea58b84a02/" target="_blank">
            <i class="fab fa-pinterest-p"></i>
          </a>
        </li>
        <li>
          <a onclick="topFunction()" href="https://www.pinterest.com/95e02068dbf471424b31ea58b84a02/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
      <div id="google_translate_element" class="g-translate pull-right"></div>
    </div>
  </div>

  <nav class="nav-home navbar-transparent">
    <!-- <div class="container container-fluid"> -->
    <div class="navbar-header ">
      <!-- <button class="navbar-toggle" data-target="#menu-example" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a class="logo" routerLink="/">
        <img src="../../assets/img/ChoiceGenie-logo2.png" alt="ChoiceGenie" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="menu-example">
      <ul class="navbar-nav navbar-right">
        <li class="vanders">
          <a routerLink="/">
            <i class="fa fa-home"></i> Why ChoiceGenie ?
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="drop-downs">
            <ul class="nav-vanders  why-choiegenie-sublist">
              <li>
                <a onclick="topFunction()" routerLink="/Why-Choice-Genie">
                  <i class="fa fa-question-circle-o"></i>

                  Why ChoiceGenie?</a>
              </li>
              <li>
                <a onclick="topFunction()" routerLink="/how-it-works">
                  <i class="fa fa-fire"></i>
                  How It Works?</a>
              </li>
              <li>
                <a onclick="topFunction()" routerLink="/Faqs">
                  <i class="fa fa-leanpub"></i>
                  FAQs</a>
              </li>
              <li>
                <a onclick="topFunction()" routerLink="/what-is-ChoiceGenie">
                  <i class="fa fa-leaf"></i>
                  What is ChoiceGenie?</a>
              </li>
              <li>
                <a onclick="topFunction()" routerLink="/">
                  <i class="fa fa-question-circle-o"></i>
                  Who are We?</a>
              </li>
              <!-- <li>
                <a routerLink="/features-comparison">
                  <i class=" fa fa-language"></i>
                  Comparison Matrix</a>
              </li> -->
              <li>
                <a onclick="topFunction()" routerLink="/Become-a-partner">
                  <i class=" fa fa-group"></i>
                  Become a Partner</a>
              </li>
              <li>
                <a onclick="topFunction()" routerLink="/Choice-and-Saving">
                  <i class=" fa fa-cubes"></i>
                  Choice and Savings</a>
              </li>
              <li>
                <a onclick="topFunction()" routerLink="/contactus">
                  <i class="fa fa-address-book-o"></i>
                  Establish Contact</a>
              </li>

            </ul>
          </div>
        </li>
        <!-- <li>
                <a routerLink="">
                 Vendors


                </a>
              </li> -->
        <li>
          <a onclick="topFunction()" routerLink="/User-guide">
            <i class="fa fa-th-large"></i> User Guide
          </a>
        </li>
        <li>
          <a onclick="topFunction()" routerLink="/residential">
            <i class="fa fa-th-large"></i> Residential
          </a>
        </li>


        <li class="">
          <a onclick="topFunction()" routerLink="/commercial">
            <i class="fa fa-users"></i> Commercial
          </a>
        </li>
        <li *ngIf="checked_price()">
          <a onclick="topFunction()" routerLink="/pricing">
            <i class="fa fa-shopping-cart"></i> Pricing
          </a>
        </li>
        <li>
          <a onclick="topFunction()" routerLink="/features-comparison">
            <i class="fas fa-chart-bar"></i> Comparison Matrix

          </a>
        </li>
        <li>
          <a onclick="topFunction()" routerLink="/blog">
            <i class="fab fa-leanpub"></i> Blog

          </a>
        </li>



        <li class="">
          <a routerLink="/">
            <i class="fab fa-android"></i>
          </a>
        </li>
        <li class="">
          <a routerLink="/">
            <i class="fab fa-apple"></i>
          </a>
        </li>

        <!-- <li class=""> -->
        <!-- <a> -->
        <!-- <i class="material-icons">
                lock_open
              </i>
              <a (click) = "logout()" >logout</a>

              <i class="fa fa-caret-down"></i> -->
        <!-- </a> -->

        <!-- </li> -->


        <li class="vanders"  *ngIf="check_login()">

            <a >
                <i class="material-icons">account_circle</i> {{username}}
              </a>
            <div class="drop-downs right-drop1">
              <ul class="nav-vanders  why-choiegenie-sublist">
                <li>
                    <a onclick="topFunction()" (click)="getprofile()">
                        <i class="material-icons">lock</i>My Profile
                      </a>
                </li>
                <li>
                    <a onclick="topFunction()" routerLink="/ChangePassword1">
                        <i class="material-icons">lock</i>Change Password
                      </a>
                </li>
                <li>
                    <a onclick="topFunction()" routerLink="/contactus">
                        <i class="material-icons">lock</i>Feed back
                      </a>
                </li>

                <li>
                    <a (click)="logout()">
                        <i class="material-icons">lock</i>Logout
                      </a>
                </li>
              </ul>
            </div>
          </li>



          <li class="vanders" *ngIf="check_login1()">

              <a >
                  <i class="material-icons">account_circle</i> {{admin}}
                </a>
              <div class="drop-downs right-drop">
                <ul class="nav-vanders  why-choiegenie-sublist">
                    <li>
                        <a onclick="topFunction()" (click)="logout()">
                          <i class="fas fa-lock"></i>Logout
                        </a>
                      </li>
                </ul>
              </div>
            </li>



        

      </ul>
    </div>
    <!-- </div> -->
  </nav>

  <span class="menu-btn fas fa-bars" (click)="openNav()"></span>
  <div id="mySidenav" class="sidenav">
      <div class="sidebar-header">
          <!-- <a class="sidebar-logo" onclick="topFunction()" routerlink="/" ng-reflect-router-link="/" href="/"> -->
            <img class="sidebar-logo" alt="ChoiceGenie" src="../../assets/img/ChoiceGenie-logo2.png">
            <h2 class="sidebar-heading">ChoiceGenie</h2>
          <!-- </a> -->
      </div>
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <li class="dropdown">
          <button class="" type="button" data-toggle="dropdown"><i class="fa fa-home"></i> Why ChoiceGenie
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a onclick="topFunction()" routerLink="/Why-Choice-Genie">
              <i class="fa fa-question-circle-o"></i>

              Why ChoiceGenie?</a>
            </li>
            <li>
                <a onclick="topFunction()" routerLink="/how-it-works">
                  <i class="fa fa-fire"></i>
                  How It Works?</a>
              </li>
              <li>
                <a onclick="topFunction()" routerLink="/Faqs">
                  <i class="fa fa-leanpub"></i>
                  FAQs</a>
              </li>
              <li>
                <a onclick="topFunction()" routerLink="/what-is-ChoiceGenie">
                  <i class="fa fa-leaf"></i>
                  What is ChoiceGenie?</a>
              </li>
              <!-- <li>
                <a routerLink="/">
                  <i class="fa fa-question-circle-o"></i>
                  Who are We?</a>
              </li> -->

              <li>
                <a onclick="topFunction()" routerLink="/Become-a-partner">
                  <i class=" fa fa-group"></i>
                  Become a Partner</a>
              </li>
              <li>
                <a onclick="topFunction()" routerLink="/Choice-and-Saving">
                  <i class=" fa fa-cubes"></i>
                  Choice and Savings</a>
              </li>
              <li>
                <a onclick="topFunction()" routerLink="/contactus">
                  <i class="fa fa-address-book-o"></i>
                  Establish Contact</a>
              </li>
          </ul>
        </li>
        <a onclick="topFunction()" routerLink="/User-guide">
          <i class="fa fa-th-large"></i> User Guide
        </a>
        <a onclick="topFunction()" routerLink="/residential">
          <i class="fa fa-th-large"></i> Residential
        </a>
        <a onclick="topFunction()" routerLink="/pricing">
          <i class="fa fa-shopping-cart"></i> Pricing
        </a>
        <a onclick="topFunction()" routerLink="/commercial">
          <i class="fa fa-users"></i> Commercial
        </a>
        <a onclick="topFunction()" routerLink="/features-comparison">
          <i class="fas fa-chart-bar"></i> Comparison Matrix

        </a>
        <a onclick="topFunction()" routerLink="/blog">
          <i class="fab fa-leanpub"></i> Blog

        </a>
            <a href="https://play.google.com/store/apps/details?id=com.brainplow.choicegenie&hl=en" target="_blank">

              <i class="fab fa-android"></i>
            </a>
            <a href="https://itunes.apple.com/us/app/choicegenie/id1391027521?platform=ipad&preserveScrollPosition=true&platform=ipad#platform/ipad&platform=ipad"
            target="_blank">
            <i class="fab fa-apple"></i>
          </a>


          <li class="dropdown vanders" *ngIf="check_login()">
              <button class="" type="button" data-toggle="dropdown">
                  <i class="material-icons">account_circle</i> {{username}}
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li>
                  <a (click)="logout()">
                    <i class="material-icons">lock</i>Logout
                  </a>
                </li>
              </ul>
            </li>



            <li class="dropdown vanders" *ngIf="check_login1()">
                <button class="" type="button" data-toggle="dropdown">
                    <i class="material-icons">account_circle</i> {{admin}}
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li>
                  <a (click)="logout()">
                    <i class="fas fa-lock"></i>Logout
                  </a>
                </li>
                </ul>
              </li>
    </div>


</div>
