<div class="container-fluid">

    <div class="about-section row">
      <div class="text-center appio-center-heading pb-20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="wow fadeInLeft" data-wow-duration="1s">Why ChoiceGenie?</h2>
        <span _ngcontent-c4="" class="bordered-icon"><i _ngcontent-c4="" class="fa fa-square"></i></span>
        <p class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s"> We, the engineers at ChoiceGenie have devised bleeding edge Machine Learning (ML) and proprietary Artificially Intelligent (AI) algorithms to bring you a next generation Artificially Intelligent Comparative Shopping Marketplace for Energy Vendors/Products. Our technology is bleeding edge and was engineered with a singular goal: Save consumers Time & Money! </p>
      </div>
      <div class="left-about-divs wow rotateInUpRight col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <img alt="brainplow" class="about-text"  src="../../assets/img/mission.jpg" width="100%">
      </div>
      <div class="right-about-divs  col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <h2 class="about-title wow rotateInDownLeft" ><strong>Some of ChoiceGenie’s Features include:</strong></h2>
        <!--<p class="display">&nbsp;</p>-->
        <p class="about-text wow lightSpeedIn " data-wow-duration="1s"><b>•  Hundreds of Dollars per year On-Average Savings to the Consumer:- This Genie does it ALL for you!.
        </b> </p>
        <p class="about-text wow lightSpeedIn " data-wow-duration="1s"><b>•  Next Generation Energy Comparative Shopping Engine – A Super-Fast, Super-Easy Time n’ Money Saving Experience!.
        </b> </p>
        <p class="about-text wow lightSpeedIn " data-wow-duration="1s"><b>•  Cut to the Chase: Connect with Energy Vendors Professionals based on ChoiceGenie’s Proprietary Artificially Intelligent Price, Reviews & Scoring Engine.
        </b> </p>
        <p class="about-text wow lightSpeedIn " data-wow-duration="1s"><b>•  ChoiceGenie employs Deep Learning and Artificial Intelligence to Analyze Energy Consumption, Match, Connect, Alert and Connect Buyers with Energy Providers – Our AI is called “ChoiceGenie”.
        </b> </p>
        <p class="about-text wow lightSpeedIn " data-wow-duration="1s"><b>•  With ChoiceGenie’s Vendor Matching AI, Bidding Engine, Product Showcase, Realtime Chat & a whole lot more, ChoiceGenie goes the Extra Mile for a Trust-Based Energy Shopping Experience!
        </b> </p>
        <p class="about-text wow lightSpeedIn " data-wow-duration="1s"><b>•  Compare n’ Shop Energy on Mobile: Experience our next generation Artificially Intelligent Comparative Shopping App on Google Play Store and Apple App Store.
        </b> </p>
        <p class="about-text wow lightSpeedIn " data-wow-duration="1s"><b>•  BIDDING on Energy Products: Propel your Comparative Shopping Experience to a whole new dimension: BUY & BID on a 360-Degree Spectrum of Plans/Products from Energy Vendors with ChoiceGenie’s bleeding edge AI.
        </b> </p>


      </div>
      <div class="left-about-divs wow rotateInDownLeft col-lg-6 col-md-12 col-sm-12 col-xs-12"   data-wow-duration="1s">
        <h2 class="about-title"><strong>Our Mission</strong></h2>
        <p class="about-text wow fadeInRight  "><b>We have over 100+ years of combined experience in the High Tech Universe – In both Hardware and Software domains. We incubate, accelerate and brood In-House and Community Products in Machine Learning/Artificial Intelligence & iOT technologies. We are strong believers in next-generation automation and efficiency by harnessing the power of Machine Learning: We see Artificial Intelligence (AI) as a revolutionary toolbox that, will allow us to empower Organizations and People to make life Simpler n’ Easier.</b></p>
      </div>
      <div class="right-about-divs wow rotateInDownLeft col-lg-6 col-md-12 col-sm-12 col-xs-12"  data-wow-duration="1s ">
          <img src="../../assets/img/what.png" style="width: 100%;"/>
      </div>
    </div>
  </div>
