.purchase-table thead tr th{
    font-weight: bold;
    text-align: center;
    border-left: 1px solid #fff;
}
.purchase-table tbody tr td{
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.purchase-table tbody tr td h3{
margin: 0 !important;
padding: 10px;
}
.history-heading{
    overflow-y: scroll;
}



.rfp-cat {
    max-height: 200px;
    overflow-y: auto;
}
#accordion .panel-heading {
    color: #fff;
    background-color: #000000;
    border-color: #ddd;
    cursor: pointer;
    padding: 15px;
}
#accordion .panel-heading .panel-title{
    font-size: 18px;
}
.panel-body ul.rfp-cat li {
    min-height: 100px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    list-style-type: none;
    display: inline-block;
    width: 25%;
    float: left;
    vertical-align: top;
    padding: 10px 0px 0px;
    line-height: 25px;
    font-size: 14px;
    margin: 0;
}
.panel-body ul li label {
    font-weight: normal;
    float: left;
    vertical-align: top;
    width: 85%;
    color: #000;
    line-height: normal;
}
.panel-body ul li input[type="checkbox"] {
    float: left;
    margin-top: 4px;
    margin-right: 5px;
}
.panel-title .glyphicon {
    font-weight: normal;
    font-size: 12px;
    margin-top: 7px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    border:none;
    text-align: center;
    background-color: #fff;
}

.user-sidebar ul {
    padding: 0;
}
.user-sidebar ul li {
    list-style: none;
    padding: 10px 0;
}
.user-sidebar ul li a {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    padding: 10px 5px;
    display: block;
}
.user-sidebar ul li a i {
    padding: 0 10px;
}
.user-sidebar ul li a:hover {
    border-left: 5px solid #fff;
    background-color: #cc0000;
}
.active-route {
    background-color: #c31010!important;
    border-left: 5px solid;
}

.inst-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.inst-img img{
    max-width: 100%;
    height: 200px;
    border-radius: 50%;
}
.inst-cont{
    max-width: 1000px;
    padding: 20px 0 0;
}
.search-bg__text {
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    background-color: #f7f7f7;
    border-radius: 22px 0 0 22px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 700px;
    height: 58px;
    padding: 10px 20px 10px 30px;
    color: #484747;
    font-weight: 900;
}
.search-bg__btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    border: none;
    background: #f80000;
    color: #fff;
    padding: 15px 45px 15px 34px;
    -webkit-border-radius: 0 25px 25px 0;
    border-radius: 0 25px 25px 0;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    min-height: 50px;
    font-weight: bold;
}
.inst-heading{
    text-transform: capitalize;
    font-weight: 600;
    background: #353535;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    margin: 20px 0;
}
.inst-mrg{
    margin: 10px 0;
    padding: 0 10px;
}
.inst-mrg h3{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
}
.inst-wrap{
    text-align: center;
}
.inst-wrap:hover{

    box-shadow: 0 0 10px #ccc;
    transition: 0.3s ease-in-out;
}
.inst-wrap:hover h3{
    color: #f80000;
}
.example-container {
    top: 20px;
    bottom: 60px;
    left: 30px;
    right: 0px;
}

.example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}
.dp-inline{
    display: inline;
}
.dp-inline .fa-bars{
    font-size: 22px;
}
.example-sidenav {
    -webkit-box-align: center !important;
}
.fa-arrows-h{
    font-size: 26px;
}

.sidebar-holder {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    /*background: #fafafa;*/
}

.side-content {
    position: relative;
    width: calc(100% - 250px);
    min-height: 100vh;
    padding: 40px 0 120px;
    float: right
}

.side-content .page-title {
    margin: 0 0 20px
}
.sidebar-admin {
    padding:0;
    background: #282828;
    min-height: 100%;
    color: #fff;
}
.alert.alert-with-icon {
    margin-top: 20px;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.margin-0{
    margin: 0;
}
.center-admin-form{
    margin: 0 auto;
    float: none;
}
.profile_info{
    padding: 10px;
    text-align: center;
}
.profile_info > h2{
    font-weight: 600 !important;
    margin: 0;
    font-size: 26px;
}
.profile_info > h3{
    cursor: pointer;
    margin: 0 !important;
    font-size: 22px !important;
    font-weight: 600 !important;
}
.cstm-toggle-button{
    width: 37px;
    height: 77px;
    background: #000 !important;
    margin: 0;
    padding: 14px;
    position: fixed;
}
.mat-drawer-container {
    position: static;
}
.pose-rlt{
    position: relative;
    padding: 0;
}
.mat-drawer{
    position: fixed;
    top: 72px;
    background: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    min-height: 100%;
    font-family: 'Open sans', sans-serif;
}
body {
    background: linear-gradient(50deg, #f3c680, hsla(179,54%,76%,1));
}

.mat-horizontal-content-container{
    padding:0px !important;
}
.jumbotron.text-center {
    height: 17em !important;
}

input.form-control.col-md-6 {
    width: 50% !important;
    margin-right: 1em !important;
    display: inline !important;
}

div#notes {
    margin-top: 2% !important;
    width: 98% !important;
    margin-left: 1% !important;
}

@media (min-width: 991px) {
    .col-md-9.col-sm-12 {
        margin-left: 12%;
    }
}

/*--------------------
Form
--------------------*/
.form {

fieldset {
    border: none;
    padding: 0;
    padding: 10px 0;
    position: relative;
    clear: both;

&.fieldset-expiration {
     float: left;
     width: 60%;

& .select {
      width: 84px;
      margin-right: 12px;
      float: left;
  }
}

&.fieldset-ccv {
     clear: none;
     float: right;
     width: 86px;
 }

label {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    color: hsla(0, 0, 0, .6);
    margin-bottom: 5px;
    font-weight: bold;
    font-family: ' Roboto', sans-serif;

}

input,
.select {
    width: 100%;
    height: 38px;
    color: hsl(0, 0, 20);
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    outline: none!important;
    border: 1px solid hsla(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
    font-weight: 900;


&.input-cart-number {
     width: 82px;
     display: inline-block;
     margin-right: 8px;
     font-weight: 900;

&:last-child {
     margin-right: 0;
 }
}
}

.select {
    position: relative;

&::after {
     content: '';
     border-top: 8px solid #222;
     border-left: 4px solid transparent;
     border-right: 4px solid transparent;
     position: absolute;
     z-index: 2;
     top: 14px;
     right: 10px;
     pointer-events: none;
 }

select {
    appearance: none;
    position: absolute;
    padding: 0;
    border: none;
    width: 100%;
    outline: none!important;
    top: 6px;
    left: 6px;
    background: none;

:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

}
}


}

button {
    width: 100%;
    outline: none!important;
    background: linear-gradient(180deg, #49a09b, #3d8291);
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    box-shadow: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 90px;

& .fa {
      margin-right: 6px;
  }
}

}

/*--------------------
Checkout
--------------------*/
.checkout {
    margin: 150px auto 30px;
    position: relative;
    width: 460px;
    background: white;
    border-radius: 15px;
    padding: 160px 45px 30px;
    box-shadow: 0 10px 40px hsla(0, 0, 0, .1);
}

/*--------------------
Credit Card
--------------------*/
.credit-card-box {
    perspective: 1000;
    width: 400px;
    height: 280px;
    position: absolute;
    top: -112px;
    left: 50%;
    transform: translateX(-50%);

&:hover .flip,
&.hover .flip {
     transform: rotateY(180deg);
 }

.front,
.back {
    width: 400px;
    height: 250px;
    border-radius: 15px;
    backface-visibility: hidden;
    background: linear-gradient(135deg, #bd6772, #53223f);
    position: absolute;
    color: #fff;
    font-family: ' Roboto', sans-serif;
    top: 0;
    left: 0;
    text-shadow: 0 1px 1px hsla(0, 0, 0, 0.3);
    box-shadow: 0 1px 6px hsla(0, 0, 0, 0.3);

&::before {
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background: url('http://cdn.flaticon.com/svg/44/44386.svg') no-repeat center;
     background-size: cover;
     opacity: .05;
 }
}

.flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.logo {
    position: absolute;
    top: 9px;
    right: 20px;
    width: 60px;

svg {
    width: 100%;
    height: auto;
    fill: #fff;
}
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);

.logo {
    top: 185px;
}

}

.chip {
    position: absolute;
    width: 60px;
    height: 45px;
    top: 20px;
    left: 20px;
    background: linear-gradient(135deg, hsl(269,54%,87%) 0%,hsl(200,64%,89%) 44%,hsl(18,55%,94%) 100%);;
    border-radius: 8px;

&::before {
     content: '';
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     border: 4px solid hsla(0, 0, 50, .1);
     width: 80%;
     height: 70%;
     border-radius: 5px;
 }
}

.strip {
    background: linear-gradient(135deg, hsl(0, 0, 25%), hsl(0, 0, 10%));
    position: absolute;
    width: 100%;
    height: 50px;
    top: 30px;
    left: 0;
}

.number {
    position: absolute;
    margin: 0 auto;
    top: 103px;
    left: 19px;
    font-size: 38px;
}

label {
    font-size: 10px;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: normal;
    opacity: 0.5;
    display: block;
    margin-bottom: 3px;
    font-family: ' Roboto', sans-serif;

}

.card-holder,
.card-expiration-date {
    position: absolute;
    margin: 0 auto;
    top: 180px;
    left: 19px;
    font-size: 22px;
    text-transform: capitalize;
}

.card-expiration-date {
    text-align: right;
    left: auto;
    right: 20px;
}

.ccv {
    height: 36px;
    background: #fff;
    width: 91%;
    border-radius: 5px;
    top: 110px;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    color: #000;
    text-align: right;
    padding: 10px;

label {
    margin: -25px 0 14px;
    color: #fff;
}
}


}



toggle.btn-success:hover {
    color: #fff;
}
.btn.btn-success.dropdown-toggle,btn.btn-success.dropdown-toggle:focus,.btn.btn-success.dropdown-toggle:hover{
    background-color: #000000;
    color: #fff;
    padding: 20px 15px;
    position: relative;
    display: block;
    margin: 20px 0;
    border-radius: 5px;
}
.btn-success {
    padding: 10px;
    font-weight: 900;
    font-size: 30px;
}

.btn.btn-success:focus, .btn.btn-success:hover{
    background-color: black!important;

}

.mydropdown select option {
    background-color: white !important;
    color: black !important;
}
.mydropdown select option:hover {
    box-shadow: 0 0 10px 100px #c31010 inset !important;
}

.mydropdown {
    min-width: 325px;
}

.package-detail h2 {
    font-size: 25px;
    background-color: #c51414;
    color: white;
    padding: 15px 5px;
}

.package-detail table {
    font-size: 20px;
    font-weight: 900;
}
