<div id="wrapper">


    <section class="section bgw">
      <div class="container">

        <div class="section-title-2 text-center">
          <h2>Get in Touch with us</h2>
          <p class="lead">We'll try our best to answer your queries as soon as possible.</p>
          <hr>
        </div>
        <!-- end section-title -->
        <div class="row">
          <div class="col-md-6" style="border-right: 1px solid #cccccc">
            <form class="example-form" [formGroup]="signupForm" *ngIf="signupForm" >
              <mat-form-field class="example-full-width">
                <!-- <input matInput placeholder="Renewable price" [(ngModel)]="renewable" formControlName="renewable"> -->
                <input matInput placeholder="Enter Your Name" formControlName="name" [(ngModel)]="name">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter Your Email" formControlName="email" required [(ngModel)]="email">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter Your Phone Number" formControlName="mobno" required [(ngModel)]="mobno">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter Subject" formControlName="subject" required [(ngModel)]="subject">
              </mat-form-field>
            </form>
          </div>
          <div class="col-md-6">
            <!--<mat-form-field>-->
              <!--<textarea matInput placeholder="Enter Your Messege" style="height: 265px !important;"-->
                <!--name="msg" required #msg>-->

              <!--</textarea>-->
            <!--</mat-form-field>-->
            <mat-form-field>
              <textarea matInput placeholder="Enter Your Messege" style="height: 265px !important;"></textarea>
            </mat-form-field>

            <input matInput placeholder="date" hidden="true" value="{{today | date: 'yyyy-MM-dd'}}" #date name="date">

            <button class="btn  pull-right btn-fill" style="background-color: #e53935" (click)="Contactuserdata(name,mobno,email,msg.value,date.value,subject)">Send Messege</button>
          </div>
        </div>

      </div>
    </section>
    <!-- end section -->

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9 col-md-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d837.0251764609892!2d-96.82467717080422!3d32.948350498807535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c212557ba208f%3A0xc41aadf3e0dbafcf!2s5050+Quorum+Dr+%23700%2C+Dallas%2C+TX+75254!5e0!3m2!1sen!2sus!4v1522302257213"
          width="95%" height="400px" frameborder="0" style="border:0; margin-left: 20px" allowfullscreen></iframe>
      </div>
      <div _ngcontent-c4="" class="col-lg-3 col-md-12">
        <div _ngcontent-c4="" class="widget">




          <h2 _ngcontent-c4="">HEADQUARTERS:</h2>
          <ul _ngcontent-c4="" class="contact-details">

            <li _ngcontent-c4="">
              <i _ngcontent-c4="" class="fa fa-home"></i>
              <b _ngcontent-c4=""> 5050 Quorum Drive Suite 700
                <br _ngcontent-c4=""> Dallas, TX 75254</b>
            </li>
          </ul>
          <h2 _ngcontent-c4="">ESTABLISH CONTACT:</h2>
          <ul _ngcontent-c4="" class="contact-li-styles">
            <li _ngcontent-c4="">
              <i _ngcontent-c4="" class="fa fa-envelope-o  "></i>
              <a _ngcontent-c4="" href="http://showwp.com/cdn-cgi/l/email-protection#4d24232b220d3422383f3e243928632e2220">
                <span _ngcontent-c4="" class="__cf_email__ " style="text-decoration: none; color: #555 !important;" data-cfemail="167f787079566f796364657f62733875797b">Email: contact@ChoiceGenie.com</span>
              </a>
            </li>
            <li _ngcontent-c4="">
              <i _ngcontent-c4="" class="fa fa-phone "></i> Voice: +1 (888) 764-0100</li>
            <li _ngcontent-c4="">
              <i _ngcontent-c4="" class="fa fa-fax"></i> Fax: +1 (469) 250-6600</li>

          </ul>
          <hr _ngcontent-c4="">
          <label _ngcontent-c4="" class="lable-style">Visit us on</label>
          <div _ngcontent-c4="" class="social-icons">
            <ul _ngcontent-c4="" class="list-inline">
              <li _ngcontent-c4="" class="facebook">
                <a _ngcontent-c4="" data-placement="top" data-toggle="tooltip" href="https://www.facebook.com/CourseFrenzy-969012556590314/?modal=admin_todo_tour"
                  target="_blank" title="Facebook">
                  <i _ngcontent-c4="" class="fa fa-facebook"></i>
                </a>
              </li>
              <li _ngcontent-c4="" class="google">
                <a _ngcontent-c4="" data-placement="top" data-toggle="tooltip" href="" target="_blank" title="Google Plus">
                  <i _ngcontent-c4="" class="fa fa-google-plus"></i>
                </a>
              </li>
              <li _ngcontent-c4="" class="twitter">
                <a _ngcontent-c4="" data-placement="top" data-toggle="tooltip" href="https://twitter.com/course_frenzy" target="_blank" title="Twitter">
                  <i _ngcontent-c4="" class="fa fa-twitter"></i>
                </a>
              </li>
              <li _ngcontent-c4="" class="linkedin">
                <a _ngcontent-c4="" data-placement="top" data-toggle="tooltip" href="" target="_blank" title="Linkedin">
                  <i _ngcontent-c4="" class="fa fa-linkedin"></i>
                </a>
              </li>
              <li _ngcontent-c4="" class="pinterest">
                <a _ngcontent-c4="" data-placement="top" data-toggle="tooltip" href="" target="_blank" title="Pinterest">
                  <i _ngcontent-c4="" class="fa fa-pinterest"></i>
                </a>
              </li>



            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
