<div class="footer-upper">
  <div class="container-fluid">
    <div class="">
      <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3 sh-pd-ft-fix wow rotateInDownLeft" data-wow-duration="1s">
        <div class="footer-align">
          <h2>Who Are We?</h2>
          <!--<p>No more nuisances in Creating, refining and managing High quality e-learning content for your Modern audience. <br />Three Exclusive Features One Platform. Explore Most Flexible Modules with GenieCapture. Embark on the Galaxy of GenieCapture and Hook your learners.</p>-->
          <ul class="list-contact">
            <li>
              <a  onclick="topFunction()" routerLink="/what-is-ChoiceGenie"><i aria-hidden="true" class="fa fa-chevron-right"></i>What is ChoiceGenie?</a>
            </li>
            <li>
              <a onclick="topFunction()"  routerLink="/how-it-works"><i aria-hidden="true" class="fa fa-chevron-right"></i>How it Works?</a>
            </li>
            <li>
              <a onclick="topFunction()"  routerLink="/Become-a-partner"><i aria-hidden="true" class="fa fa-chevron-right"></i>Become a Partner</a>
            </li>
            <li>
              <a onclick="topFunction()"  routerLink="/Faqs"><i aria-hidden="true" class="fa fa-chevron-right"></i>FAQs</a>
            </li>
            <li>
              <a onclick="topFunction()"  routerLink="/contactus"><i aria-hidden="true" class="fa fa-chevron-right"></i>Establish Contact</a>
            </li>
            <!-- <li>
              <a routerLink="/blog"><i aria-hidden="true" class="fa fa-chevron-right"></i>Blog</a>
            </li> -->
          </ul>

          <h2>Stalk Us</h2>
          <ul class="list-social">
            <li>
              <a  onclick="topFunction()" href=" https://www.facebook.com/Choicegenie-337916770049641/" target="_blank">
                <img src="assets/img/facebook.png">
              </a>
            </li>
            <li>
              <a onclick="topFunction()"  href="https://twitter.com/Choicegenie1/"  target="_blank">
                <img src="assets/img/twitter.png">
              </a>
            </li>
            <li>
              <a  onclick="topFunction()" href="https://www.pinterest.com/95e02068dbf471424b31ea58b84a02/" target="_blank">
                <img src="assets/img/pintrest.png">
              </a>
            </li>
            <li>
              <a  onclick="topFunction()" href="https://www.instagram.com/choicegenie772/" target="_blank">
                <img src="assets/img/instagram.png">
              </a>
            </li>
            <!-- <li>
              <a routerLink="https://twitter.com/Choicegenie1"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a routerLink="#"><i class="fa fa-google-plus"></i></a>
            </li> -->
          </ul>
      </div>
      </div>
      <!--<div class="col-sm-6 col-md-3">-->
      <!--<h2>My GenieCapture</h2>-->
      <!--<ul class="list-contact">-->
      <!--<li>-->
      <!--<a routerLink="/login">Login</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a routerLink="/signup">Signup</a>-->
      <!--</li>-->
      <!--</ul>-->
      <!--</div>-->
      <!--<div class="col-sm-6 col-md-3">-->
      <!--<h2>Contact Us</h2>-->
      <!--<ul class="list-contact">-->
      <!--<li><i class="fa fa-map-marker"></i> <strong>Address:</strong> 5050 Quorum Drive<br>Suite-->
      <!--700, Dallas TX 75254</li>-->
      <!--<li><i class="fa fa-phone"></i> <strong>Phone:</strong> +1 (987) 654-1234</li>-->
      <!--<li><i class="fa fa-fax"></i> <strong>Fax:</strong> +1 (789) 456-1234</li>-->
      <!--<li><i class="fa fa-envelope"></i> <strong>Email:</strong>contact@geniecapture.com</li>-->
      <!--</ul>-->
      <!--</div>-->
      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6" >
        <h2 class="left-margin">Resources</h2>
        <div class="row">
          <div class="col-md-5">
            <ul class="list-contact wow rotateInUpLeft" data-wow-duration="1s">
              <li>
                <a class="appio-scroll" onclick="topFunction()"  [routerLink]="['/']">
                  <i class="fa fa-home" aria-hidden="true"></i>
                  Home
                </a>
              </li>
              <!-- <li>
                <a routerLink="https://meetings.hubspot.com/mohsin-ali1" target="_blank" class="appio-scroll">
                  <i class="fa fa-area-chart" aria-hidden="true"></i>
                  Demo
                </a>
              </li> -->

              <li>
                <a  onclick="topFunction()" routerLink="/userlogin" class="appio-scroll">
                  <i class="fa fa-credit-card" aria-hidden="true"></i>
                  Vendor Portal
                </a>
              </li>
              <li>
                <a  onclick="topFunction()"  routerLink="/userlogin" class="appio-scroll">
                  <i class="fa fa-credit-card" aria-hidden="true"></i>
                  Users Portal
                </a>
              </li>
              <li>
                  <a  onclick="topFunction()"  routerLink="/blog" class="appio-scroll">
                    <i class="fab fa-leanpub" aria-hidden="true"></i>
                    Blogs
                  </a>
                </li>

            </ul>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <ul class="list-contact  wow rotateInUpRight" data-wow-duration="1s">
              <li>
                <a onclick="topFunction()" routerLink="/features-comparison" class="appio-scroll">
                  <i class="fas fa-chart-bar" aria-hidden="true"></i>
                  Features Comparison
                </a>
              </li>
              <li>
                  <!-- <a onclick="topFunction()" routerLink="/register">
                    <i class="far fa-smile"></i> Vendor
                  </a> -->
                <a onclick="topFunction()" routerLink="/register" class="appio-scroll">
                  <i class="fas fa-chart-bar" aria-hidden="true"></i>
                  Vendor Signup
                </a>
              </li>
              <li>
                <a onclick="topFunction()" routerLink="/residential" class="appio-scroll">
                  <i class="fa fa-credit-card" aria-hidden="true"></i>
                  Residential
                </a>
              </li>

              <li>
                <a  onclick="topFunction()"routerLink="/commercial" class="appio-scroll">
                  <i class="fa fa-users" aria-hidden="true"></i>
                  Commercial
                </a>
              </li>

                <!-- <li>
                    <a routerLink="/commercial" class="appio-scroll">
                      <i class="fa fa-map-o" aria-hidden="true"></i>
                      Users Login
                    </a>
                  </li> -->

              <!-- <li>
                <a routerLink="/Become-a-partner">
                  <i class="fa fa-handshake-o"></i>
                  Become a Partner
                </a>
              </li> -->
              <!-- <li>
                <a routerLink="/Faqs">
                  <i class="fa fa-question-circle-o"></i>
                  FAQs
                </a>
              </li> -->
              <!-- <li>
                <a routerLink="/how-it-works">
                  <i class="fa fa-question-circle-o"></i>
                  How it Works
                </a>
              </li> -->
            </ul>
          </div>

          <div  class="social-widget" >
            <h2 >Download our Super-Cool Next-Generation Mobile App Now.</h2>
            <ul  class="footer-android-icon">
              <li >
                <a  href="https://play.google.com/store/apps/details?id=com.brainplow.choicegenie"   target="_blank">
                  <img  class="android-icon" src="../../assets/img/Adroid-Badge.png">
                </a>
              </li>

              <li >
                <a  href="https://itunes.apple.com/us/app/choicegenie/id1391027521?mt=8" target="_blank">
                  <img  class="appstore-icon" src="../../assets/img/IOS-Badge.png">
                </a>
              </li>

            </ul>
          </div>
        </div>



      </div>
      <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3 subscribe wow fadeInRight" data-wow-duration="1s">
        <h2>What is ChoiceGenie ?</h2>
        <p class="newsletter-p">We, the engineers at ChoiceGenie have devised bleeding edge Machine Learning (ML) and proprietary Artificially Intelligent (AI) algorithms to bring you a next generation Artificially Intelligent Comparative Shopping Marketplace for Energy Vendors/Products = BTW, we are very proud of our work! We believe that it’s high time that subjective and traditional approaches for online comparative shopping are replaced with next-generation AI-driven technology.  </p>




        <div class="input-group">
          <input class="form-control sub-input" placeholder="Subscribe Now" name="newsletterEmail" id="newsletterEmail" type="text" name="email" [(ngModel)]="email">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" style="background-color: #f80000!important" (click)="subscribe()">
              <!-- <i class="fa fa-paper-plane" aria-hidden="true"></i> -->
              Go
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer footer-text ptb-10 clearfix">
  <div class=" container-fluid">
    <div class="">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p class="">Copyright &copy; 2018, ChoiceGenie. All rights reserved.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="social-link pull-right">
          <a onclick="topFunction()" [routerLink]="['/Terms-of-use-and-Privacy']" target="_blank">Terms &amp; Conditions</a><span  class="footer-link-border"></span>
          <a onclick="topFunction()" [routerLink]="['/privacy']"  target="_blank">Privacy Policy</a>
          <!-- <span  class="footer-link-border"></span> -->
          <!-- <a [routerLink]="['/intellectual-property']">Intellectual Property</a> -->
        </div>
      </div>

        <!--<div class="social-link pull-left">-->
          <!--<a [routerLink]="['/home']">Home</a>-->
          <!--<a class="appio-scroll" routerLink="/contact">Contact Us</a>-->
          <!--<a [routerLink]="['/partnership']">Partnership</a>-->
        <!--</div>-->
      </div>
    </div>
</footer>
