<div class="" style="background: #ffffff">
    <div class="container-fluid">
      <div class="text-center appio-center-heading pb-20">
        <h2>Why ChoiceGenie?</h2>
        <span _ngcontent-c4="" class="bordered-icon"><i _ngcontent-c4="" class="fa fa-square"></i></span>
        <p class="text-center"> We, the engineers at ChoiceGenie have devised bleeding edge Machine Learning (ML) and proprietary Artificially Intelligent (AI) algorithms to bring you a next generation Artificially Intelligent Comparative Shopping Marketplace for Energy Vendors/Products. Our technology is bleeding edge and was engineered with a singular goal: Save the consumer Time n’ Money. </p>
      </div>


    </div>
    <div class="container-fluid main-bg padding-btm">
      <div class="com-table comparison-box">
        <!--style="border: 1px solid red; border-radius: 25px; padding: 19px 15px; box-shadow: 0px 0px 17px 0px;"-->
        <!-- Unbeatable Pricing. One-Package-Includes-All. Every Feature/RFP Included Nationwide. -->
        <!-- <br _ngcontent-c4=""> -->
        <h2 class="text-center">How we stack up against the Competition?</h2>
        <p class="text-center">No Gimmicks. No Hidden Fees. Next generation Web, iOS &amp; Android Mobile Apps.</p>
        <table class="table-bordered table-striped custom-padding">
          <thead>
          <tr>
            <th class="text-center">Features</th>
            <th class="text-center">ChoiceGenie</th>
            <th class="text-center" >Power to Choose  </th>
            <th class="text-center">Energy Ogre</th>
            <th class="text-center">Energy Choice Experts</th>
            <th class="text-center">kiloWhat Energy  </th>
          </tr>
          </thead>
          <tbody>
          <tr class="">
            <td><strong>Matching Artificial Intelligence (AI)</strong></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
          </tr>
          <!-- <tr>
            <td><strong>Bid on Energy Plans</strong></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
          </tr> -->
          <!-- <tr>
            <td><strong>State & Local Agency Bids</strong></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
          </tr> -->
          <!-- <tr>
            <td><strong>Federal Agency Bids</strong></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
          </tr> -->
          <tr>
            <td><strong>Daily Email  Alerts & Notifications</strong></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
          </tr>
          <tr>
            <td><strong>Search Engine</strong></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>
          <tr>
            <td><strong>Android Mobile App</strong></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
          </tr>
          <tr>
            <td><strong>iOS Mobile App</strong></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
          </tr>
          <!-- <tr>
            <td><strong>Electronic Bid Submission</strong></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
          </tr> -->
          <!-- <tr>
            <td><strong>Winning Bidder Insight</strong></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
          </tr> -->
          <!-- <tr>
            <td><strong>Technical Support Chat</strong></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
          </tr> -->
          <tr>
            <td><strong>ChoiceGenie as a Service*</strong></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
          </tr>

          </tbody>
        </table>


      </div>
    </div>
  </div>
